@import "../../_theme_variables";

#search_block_top {
	width:100%;
	padding:0;
	@media (max-width: $screen-xs-max) { // max 767px
		padding:0 15px;
	}
	#searchbox {
		float: left;
		width: 100%;
		border: none;
		position:relative;
		background: #393e3d;
		padding-right:45px;
	}
	.btn.button-search {
		background:none;
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		border: none;
		color:	#5b605f;
		width: 45px;
		height:100%;
		text-align: center;
		padding: 0;
		@include transition(all 0.2s ease);
		span {
			display: none;
		}
		&:before {
			content: "\f002";
			display: block;
			font-family: $font-icon;
			font-size: 26px;
			width: 100%;
			text-align: center;
		}
		&:hover {
			color:#fff;
		}
	}
	#search_query_top {
		display: inline-block;
		padding: 15px 10px 15px 13px;
		height: 52px;
		border:none;
		background:none;
		color:#fff;
	}
}

.ac_results {
	background: $light-background;
	border: 1px solid $base-border-color;
	width: 271px;
	margin-top: -1px;
	li {
		padding: 0 10px;
		font-weight: normal;
		color: #686666;
		font-size: 13px;
		line-height: 22px;
		&.ac_odd {
			background: $light-background;
		}
		&:hover, &.ac_over {
			background: $base-box-bg;	
		}
	}
}	

form#searchbox {
	position: relative;
	label {
		color: $base-text-color;
	}
	input#search_query_block {
		margin-right:10px;
		max-width:222px;
		margin-bottom:10px;
		display:inline-block;
		float:left;
	}
	.btn.btn-sm {
		float:left;
		i {
			margin-right:0;
		}
	}
}