@import "compass";
@import "theme_variables";

/* Block newsletter */
#columns #newsletter_block_left {
	.form-group {
		margin-bottom: 0;
		.form-control {
			max-width: 222px;
			display: inline-block;
			margin-right: 6px;
			@media (min-width: $screen-sm) and (max-width: $screen-md-max) { // min 768px max 1199px
				margin-bottom: 10px;
				margin-right: 0;
			}
		}
	}
	.success_inline, .warning_inline {
		text-align: left;
		padding: 1px 0 0 0;
		margin-bottom: -19px;	
	}
	.success_inline	{
		color: #418B19;
	}
	.warning_inline {
		color: #f13340;
	}
}
/* Block newsletter footer */
#footer {
	#newsletter_block_left {
		overflow: hidden;
		width: 33.3333%;
		float: left;
		padding: 0px 15px 0px 15px;
		margin-bottom: 0;
		margin-top: 56px;
		@media (min-width: $screen-sm) and (max-width: $screen-md-max) { // min 768px max 1199px
			width:25%;
		}
		@media (max-width: $screen-xs-max) { // max 767px
			width: 100%;
			float:none;
			margin:0;
			padding-top:30px;
		}
		h4 {
			background: none;
			font: 600 14px / 20px $font-custom;
			color: #ffd400;
			text-transform:uppercase;
			margin: 0 0 24px 0;
			padding:0;
			border: none;
			&:after {
				display: none;
			}
		}
		.block_content {
			overflow: hidden;
		}
		.form-group {
			margin-bottom: 0;
			.form-control {
				height: 52px;
				line-height: 30px;
				max-width: 308px;
				background: #fff;
				border-color: #efefef;
				color: #959393;
				padding: 5px 43px 5px 12px;
				display: inline-block;
				float: none;
				&:focus {
					@include box-shadow(black 0 0 0);
				}
			}
			.button-small {
				margin-left: -50px;
				border: none;
				background: none;
				text-align: center;
				color: #959393;
				padding: 15px 14px 14px;
				&:before {
					content: "";
					font-family: $font-icon;
					font-size: 20px;
					line-height: 20px;
				}
				&:hover {
					color: #31353d !important;
				}
				span{
					display: none;
				}	
			}
		}
		.warning_inline {
			display: block;
			color: #f13340;
			font-size: 13px;
			line-height :26px;
			clear: both;
			@media (min-width: $screen-lg) { // min 1200px
				display: inline-block;
				position: relative;
				top: -35px;
				margin-bottom: -35px;
				left: 15px;
				clear: none;
			}
		}
		.newsletter-input {
  			max-width: 308px !important;
  		}
	}
}