@charset "UTF-8";
/*** ESSENTIAL STYLES ***/
.sf-contener {
  clear: both;
  float: left;
  width: 100%; }
  .sf-contener > div {
    position: relative; }

.sf-menu,
.sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none; }

.sf-menu {
  padding: 0;
  width: 100%;
  background: #5b605f;
  border-bottom: 5px solid #ffd400; }
  @media (max-width: 767px) {
    .sf-menu {
      display: none; } }

.sf-menu ul {
  position: absolute;
  top: -999em;
  background: white; }
  @media (max-width: 767px) {
    .sf-menu ul {
      position: relative; } }

.sf-menu ul li {
  width: 100%; }

.sf-menu li:hover {
  visibility: inherit;
  /* fixes IE7 'sticky bug' */ }

.sf-menu > li {
  float: left;
  border-right: 1px solid #3a3a3a;
  width: 14%; }
  @media (max-width: 767px) {
    .sf-menu > li {
      float: none;
      width: 100%;
      position: relative;
      border-right: none; }
      .sf-menu > li span {
        position: absolute;
        right: 6px;
        top: 16px;
        width: 30px;
        height: 30px;
        z-index: 2; }
        .sf-menu > li span:after {
          font-family: "FontAwesome";
          content: "\f067";
          font-size: 20px; }
        .sf-menu > li span.active:after {
          content: "\f068"; } }
  .sf-menu > li > a {
    font: 600 12px/18px "Open Sans", sans-serif;
    text-transform: uppercase;
    color: #fff;
    display: block;
    padding: 15px;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    @media (min-width: 768px) {
      .sf-menu > li > a {
        height: 83px;
        text-align: center;
        position: relative;
        padding: 0 5px;
        color: #fff; }
        .sf-menu > li > a strong {
          display: inline-block;
          vertical-align: middle;
          font-weight: 600; }
        .sf-menu > li > a:after {
          display: inline-block;
          content: " ";
          width: 0;
          height: 100%;
          vertical-align: middle; }
        .sf-menu > li > a:before {
          display: block;
          content: "";
          font-family: "FontAwesome";
          font-size: 12px;
          text-align: center;
          width: 100%;
          position: absolute;
          left: 0;
          top: 71px;
          font-weight: normal;
          color: #4d5251;
          opacity: 0;
          -moz-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
          -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease; } }
  .sf-menu > li.sfHover > a,
  .sf-menu > li > a:hover, .sf-menu > li.sfHoverForce > a {
    background: #4d5251; }
  .sf-menu > li.sfHover > a:before {
    top: 75px;
    opacity: 1; }

#search_li {
  float: right;
  width: 30%;
  border: none;
  padding: 16px 15px 15px 21px;
  margin: 0;
  background: #4d5251; }
  @media (max-width: 767px) {
    #search_li {
      display: none; } }

.sf-menu li li li a {
  display: inline-block;
  position: relative;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
  text-transform: uppercase;
  padding-bottom: 10px; }
  .sf-menu li li li a:hover {
    color: #ffd400; }

.sf-menu li li li.sfHoverForce > a {
  color: #333333; }

.sf-menu li ul {
  display: none;
  left: 0;
  top: 100%;
  /* match top ul list item height */
  z-index: 99;
  padding: 12px 0 18px 0;
  background: #4d5251; }
  @media (max-width: 767px) {
    .sf-menu li ul {
      top: 0; } }

.sf-menu li li ul {
  position: static;
  display: block !important;
  opacity: 1 !important;
  background: none;
  -moz-box-shadow: transparent 0 0 0;
  -webkit-box-shadow: transparent 0 0 0;
  box-shadow: transparent 0 0 0; }

.sf-menu li li li ul {
  padding: 0 0 0 20px; }

.sf-menu li li li ul {
  width: 220px; }

ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
  top: -999em; }

ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
  left: 200px;
  /* match ul width */
  top: 0; }

ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
  top: -999em; }

ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
  left: 200px;
  /* match ul width */
  top: 0; }

.sf-menu > li > ul {
  padding: 26px 30px 31px;
  width: 100%; }
  .sf-menu > li > ul > li > a {
    text-transform: uppercase;
    font: 600 14px/20px "Open Sans", sans-serif;
    color: #fff;
    display: inline-block;
    position: relative;
    padding-bottom: 1px; }
    .sf-menu > li > ul > li > a:after {
      display: block;
      content: "";
      font-family: "FontAwesome";
      font-size: 12px;
      line-height: 3px;
      text-align: center;
      width: 100%;
      position: absolute;
      left: 0;
      top: 100%;
      border-top: 2px solid #fff;
      font-weight: normal;
      color: #fff; }
    .sf-menu > li > ul > li > a:hover {
      color: #ffd400; }

.sf-menu > li > ul > li {
  float: left;
  width: 20%;
  padding-right: 15px; }
  @media (max-width: 767px) {
    .sf-menu > li > ul > li {
      width: 50%; } }
  @media (max-width: 479px) {
    .sf-menu > li > ul > li {
      width: 100%; } }
  @media (min-width: 768px) {
    .sf-menu > li > ul > li.first-in-line-lg {
      clear: left; } }
  @media (min-width: 480px) and (max-width: 767px) {
    .sf-menu > li > ul > li.first-in-line-xs {
      clear: left; } }

.sf-menu > li > ul > li.category-thumbnail {
  width: 100% !important;
  float: none;
  clear: both;
  overflow: hidden;
  padding: 10px 5px;
  background: #393e3d; }
  @media (max-width: 479px) {
    .sf-menu > li > ul > li.category-thumbnail {
      padding: 5px 10px; } }
  .sf-menu > li > ul > li.category-thumbnail > div {
    float: left;
    padding: 0 5px;
    width: 33.3333%; }
    @media (max-width: 479px) {
      .sf-menu > li > ul > li.category-thumbnail > div {
        width: 100%;
        text-align: center;
        padding: 5px 0; } }
    .sf-menu > li > ul > li.category-thumbnail > div img {
      max-width: 100%;
      height: auto;
      display: block; }

.cat-title {
  display: none; }
  @media (max-width: 767px) {
    .cat-title {
      display: block;
      font: 600 18px/22px "Open Sans", sans-serif;
      text-transform: uppercase;
      color: #fff;
      display: block;
      padding: 17px 20px;
      background: #5b605f;
      position: relative; }
      .cat-title:hover, .cat-title.active {
        background: #393e3d; }
      .cat-title:after {
        display: block;
        font-family: "FontAwesome";
        content: "\f067";
        position: absolute;
        right: 15px;
        top: 18px;
        font-size: 26px; }
      .cat-title.active:after {
        content: "\f068"; } }

.sf-menu li.sf-search {
  border: none; }
  .sf-menu li.sf-search input {
    display: inline;
    padding: 0 13px;
    height: 30px;
    line-height: 30px;
    background: white;
    margin: 13px 10px 0 0;
    font-size: 13px;
    color: #555555;
    border: 1px solid #cccccc; }
