						<tr>
							<td class="space_footer">&nbsp;</td>
						</tr>
						<tr>
							<td class="footer" style="border-top:4px solid #333333;padding:7px 0">
								<span><a href="{shop_url}" style="color:#337ff1">{shop_name}</a> réalisé par <a href="http://www.sl-creaweb.fr/" style="color:#337ff1">SL Creaweb&trade;</a></span>
							</td>
						</tr>
					</table>
				</td>
				<td class="space">&nbsp;</td>
			</tr>
		</table>
	</body>
</html>