@import "../../../_theme_variables";

/*** ESSENTIAL STYLES ***/
.sf-contener {
	clear: both;
	float: left;
	width: 100%;
	> div {
		position:relative;	
	}
}
.sf-right {}
.sf-menu,
.sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu {
	padding: 0;
	width: 100%;
	background: $dark-background;
	border-bottom:5px solid #ffd400;
	@media (max-width: $screen-xs-max) { // max 767px
		display: none;
	}
}
.sf-menu ul {
	position: absolute;
	top: -999em;
	background: $light-background;
	@media (max-width: $screen-xs-max) { // max 767px
		position: relative;
	}
}
.sf-menu ul li {
	width: 100%;
}
.sf-menu li:hover {
	visibility: inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu > li {
	float: left;
	border-right: 1px solid #3a3a3a;
	width:14%;
	@media (max-width: $screen-xs-max) { // max 767px
		float: none;
		width:100%;
		position: relative;
		border-right: none;
		span {
			position: absolute;
			right: 6px;
			top: 16px;
			width: 30px;
			height: 30px;
			z-index: 2;
			&:after {
				font-family: $font-icon;
				content: "\f067";
				font-size: 20px;
			}
			&.active {
				&:after {
					content: "\f068";	
				}
			}
		}
	}
	> a {
		font: 600 12px/18px $font-custom;
		text-transform: uppercase;
		color: #fff;
		display: block;
		padding:15px;
		@include transition(all 0.2s ease);
		@media (min-width: $screen-sm) { // min 768px
			height:83px;
			text-align:center;
			position:relative;
			padding:0 5px;
			color: #fff;
			strong {
				display:inline-block;
				vertical-align:middle;
				font-weight:600;
			}
			&:after {
				display:inline-block;
				content:" ";
				width:0;
				height:100%;
				vertical-align:middle;
			}
			&:before {
				display:block;
				content: "";
				font-family:$font-icon;
				font-size:12px;
				text-align:center;
				width:100%;
				position:absolute;
				left:0;
				top:71px;
				font-weight:normal;
				color:#4d5251;
				opacity:0;
				@include transition(all 0.2s ease);
			}
		}
	}
	&.sfHover > a,
	> a:hover,
	&.sfHoverForce > a {
		background:#4d5251;
	}
	&.sfHover > a {
		&:before {
			top:75px;
			opacity:1;
		}
	}
}
#search_li {
	float:right;
	width:30%;
	border:none;
	padding:16px 15px 15px 21px;
	margin:0;
	background:#4d5251;
	@media (max-width: $screen-xs-max) { // max 767px
		display:none;
	}
}
.sf-menu li li li a {
	display: inline-block;
	position: relative;
	color: #fff;
	font-size: 12px;
	line-height: 16px;
	font-weight: normal;
	text-transform:uppercase;
	padding-bottom: 10px;
	&:hover {
		color: #ffd400;
	}
}
.sf-menu li li li.sfHoverForce > a {
	color:$base-text-color;
}
.sf-menu li ul {
	display: none;
	left: 0;
	top: 100%; /* match top ul list item height */
	z-index: 99;
	padding: 12px 0 18px 0;
	background:#4d5251;
	@media (max-width: $screen-xs-max) { // max 767px
		top: 0;
	}
}
.sf-menu li li ul {
	position: static;
	display: block !important;
	opacity: 1 !important;
	background: none;
	@include box-shadow(rgba(black, 0) 0 0 0);
}
.sf-menu li li li ul {
	padding: 0 0 0 20px;
}
.sf-menu li li li ul {
	width: 220px;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left: 200px; /* match ul width */
	top: 0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left: 200px; /* match ul width */
	top: 0;
}
.sf-menu > li > ul {
	padding: 26px 30px 31px;
	width: 100%;
	> li {
		> a {
			text-transform: uppercase;
			font: 600 14px/20px $font-custom;
			color: #fff;
			display:inline-block;
			position:relative;
			padding-bottom:1px;
			&:after {
				display:block;
				content: "";
				font-family:$font-icon;
				font-size:12px;
				line-height:3px;
				text-align:center;
				width:100%;
				position:absolute;
				left:0;
				top:100%;
				border-top:2px solid #fff;
				font-weight:normal;
				color:#fff;
			}
			&:hover {
				color: #ffd400;
			}
		}
	}
}
.sf-menu > li > ul > li {
	float: left;
	width: 20%;
	padding-right: 15px;
	@media (max-width: $screen-xs-max) { // max 767px
		width: 50%;
	}
	@media (max-width: $screen-xs - 1) { // max 479px
		width: 100%;
	}
	@media (min-width: $screen-sm) { // min 768px
		&.first-in-line-lg {
			clear: left;
		}
	}
	@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
		&.first-in-line-xs {
			clear: left;
		}
	}
}
.sf-menu > li > ul > li.category-thumbnail {
	width: 100% !important;
	float: none;
	clear: both;
	overflow: hidden;
	padding:10px 5px;
	background:#393e3d;
	@media (max-width: $screen-xs - 1) { // max 479px
		padding:5px 10px;
	}
	> div {
		float: left;
		padding:0 5px;
		width: 33.3333%;
		@media (max-width: $screen-xs - 1) { // max 479px
			width: 100%;
			text-align: center;
			padding:5px 0;
		}
		img {
			max-width: 100%;
			height:auto;
			display: block;
		}
	}
}
.cat-title {
	display: none;
	@media (max-width: $screen-xs-max) { // max 767px
		display: block;
		font: 600 18px/22px $font-custom;
		text-transform: uppercase;
		color: #fff;
		display: block;
		padding: 17px 20px;
		background: #5b605f;
		position: relative;
		&:hover, &.active {
			background: #393e3d;
		}
		&:after {
			display: block;
			font-family: $font-icon;
			content: "\f067";
			position: absolute;
			right: 15px;
			top: 18px;
			font-size: 26px;
		}
		&.active:after{
			content: "\f068";
		}
	}
}

.sf-menu {
	li.sf-search{
		border: none;
		input{
			display: inline;
			padding: 0 13px;
			height: 30px;
			line-height: 30px;
			background: $input-bg;
			margin: 13px 10px 0 0;
			font-size: 13px;
			color: $input-color;
			border: 1px solid $input-border;
		}
	}
}