@import 'compass';
@import 'bootstrap_lib/_variables';

// ------- FONTS -------

$font-family:				  		Arial, Helvetica, sans-serif;
$font:						  		normal 12px/18px $font-family;
$font-custom:                 		'Open Sans', sans-serif;
$fa-font-path:        				"../font";
$font-icon:                   		"FontAwesome";

// ------- BORDERS ------- 

$base-border-color:					#f2f2f2;
$main_border:						1px solid $base-border-color;
$dark-border-color:					#5b605f;
$light-border-color:				#fff;
$homepage-footer-border:            #d9d9d9;

$border-radius-base:				0;
$border-radius-small:				0;

// ------- BACKGROUNDS -------

$base-box-bg:                       #fbfbfb;
$table-background:                  $base-box-bg;
$dark-background:                   #5b605f;
$light-background:                  #fff;
$homepage-footer-bg:                #f2f2f2;

// ------- COLORS ------- 

$base-body-color:                   #bcbcbc;
$base-text-color:                   #333;
$base-heading-color:				#5b605f;
$base-title-color:					$base-text-color;
$light-text-color:                  #fff;
$link-color:						#555;
$link-hover-color:                  #000;
$description-color:					#666;
$state-warning-text:				#f00;


// ------- Indents ------- 

$base-page-indent:                 	$grid-gutter-width;
$base-box-padding:                  14px 18px 13px;
$base-box-indent:                  	0 0 30px 0;

// ------- Product Elements -------

$product-name-color:                #3e454c;
$product-name-hover-color:          #000;
$price-color:						#ff530d;
$product-price-color:				#ff530d;
$product-reduced-price:				#ff530d;
$product-special-price-color:		#ff530d;
$product-old-price-color:			#d5d5d5;



// ------- Buttons -------


$button-text-color:					#fff;
$btn-font-weight:					$btn-font-weight;				//btn-default buttons weight

$btn-default-color:					$button-text-color;				//btn-default buttons color
$btn-default-bg:					#5b605f;				//btn-default buttons bg
$btn-default-border:				#5b605f;			//btn-default buttons border
$btn-default-hover-color:			$button-text-color;
$btn-default-hover-bg:				#484c4b;
$btn-default-hover-border:			#484c4b;

$padding-base-vertical:				10px;			//used for btn-default & pagination buttons vertical indent
$padding-base-horizontal:			17px;		//used for btn-default & pagination buttons horizontal indent

$padding-small-vertical:			$padding-small-vertical;		//used for btn-sm buttons vertical indent
$padding-small-horizontal:			$padding-small-horizontal;		//used for btn-sm buttons horizontal indent

$homepage-padding-btn-vertical:		$padding-base-vertical;
$homepage-padding-btn-horizontal:	$padding-base-horizontal;

		// ------- Buttons +/- ------
		
		$button-pm-color:			#c0c0c0;
		$button-pm-hover-color:		$base-text-color;
				
		
// ------- My Account List bg -------

$ma-button-bg:                      rgba(247,247,247,1);

// ------- Product Listing -------

$base-listing-border-color:					$base-border-color;
$base-listing-grid-padding:					$base-box-padding;
		
		// ------- Grid/List vars ------- 
		
		$GL-text-color:								#808080;
		$GL-title-color:							$base-text-color;
		$GL-icon-color:								#e1e0e0;
		$GL-icon-color-hover:						$base-text-color;
		
		// ------- Pagination vars -------
		
		$pagination-prevnext-color:					#777676;
		$pagination-color:							$btn-default-color;
		$pagination-hover-color:					$btn-default-hover-color;
		$pagination-bg:								$btn-default-bg;
		$pagination-border:							$btn-default-border;
		$pagination-hover-bg:						$btn-default-hover-bg;
		$pagination-active-bg:						$btn-default-hover-bg;
		$pagination-active-border:                  $btn-default-hover-border;

// ------- Product Info -------

$top-line-color:									$base-border-color;
$product-image-border:								$base-border-color;
$scroll-button-color:								#fff;
$list-info-bg:										$base-box-bg;
$scroll-button-hover-color:							$link-hover-color;
$tr-even-bg:										#fdfdfd;

// ------- Cart Steps -------

$cs-border-radius:                                  0;
$step-todo-bg:										#EDEDED;
$step-todo-border-color:							darken($step-todo-bg, 15);
$step-current-bg:									#ffd400;
$step-current-border-color:							darken($step-current-bg, 15);
$step-done-bg:										#6B6B6B;
$step-done-border-color:							darken($step-done-bg, 15);
$step-hover-bg:										darken($step-done-bg, 15);
$step-hover-border-color:							darken($step-hover-bg, 15);

// ------- sub heading (h2,h3) define -------

@mixin addIcon($content) {
	font-family:$font-icon;
	content:$content;	
}

@mixin sub-heading {
	font: 600 18px / 22px $font-custom;
	color: #fff;
	background: #393e3d;
	border-bottom: 5px solid #ffd400;
	text-transform: uppercase;
	padding: 14px 10px 17px 20px;
	margin: 0 0 20px;
	position: relative;
}

// ------- Image vars -------

@mixin product-image {
	padding:30px;
	position:relative;
	background:$light-background;	
}
@mixin products-block-image {
	border: 1px solid $base-border-color;
}

@mixin blog-image {
}

@mixin post-category-image {
	@include product-image;	
	float:left;
	margin:0 20px 10px 0;
}

@mixin post-image {
	display:block;
	margin-bottom:30px;
}