@import "_theme_variables";
#my-account {
	.addresses-lists {
		margin-bottom: 30px;	
	}
	ul.myaccount-link-list {
		li {
			overflow: hidden;
			padding-bottom: 10px;
			a {
				display: block;
				overflow: hidden;
				font: 600 16px/20px $font-custom;
				color: #393e3d;
				text-transform: uppercase;
				text-decoration: none;
				position: relative;
				border: 1px solid;
				border-color: $base-border-color;
				background:$ma-button-bg;
				i {
					font-size: 25px;
					position: absolute;
					left: 0;
					top: 0;
					width: 52px;
					height: 100%;
					padding: 10px 0 0 0;
					text-align: center;
					border-right: 1px solid lighten($base-border-color, 15);
				}
				span {
					display: block;
					padding: 13px 15px 15px 17px;
					overflow: hidden;
					border-left: 1px solid;
					margin-left: 52px;
					border-color: $base-border-color;
				}
				&:hover {
					background: darken($ma-button-bg, 5);
					border-color: darken($base-border-color, 5);	
				}
			}
		}
	}
}