@import "_theme_variables";

/*******************************************************
Product list Styles
********************************************************/

ul.product_list {
	.availability {
		span {
			display: inline-block;
			color: $light-text-color;
			font-size:12px;
			text-transform:uppercase;
			font-weight: normal;
			padding: 3px 8px 4px 8px;
			margin-bottom: 20px;
			&.available-now {
				background: #ff530d;
			}
			&.out-of-stock{
				background: #f6f6f6;
				color:#c5c5c5;
			}
		}
	}
	.color-list-container {
		margin-bottom: 12px;
		ul {
			li {
				display: inline-block;
				border: 1px solid $base-border-color;
				a {
					display: block;
					width: 23px;
					height: 23px;
					margin: 1px;
				}	
			}
		}
	}
	.product-image-container {
		text-align: center;
		img {
			margin: 0 auto;
		}	
		.quick-view {
			font: bold 13px/16px $font-family;
			color: #000;
			position: absolute;
			left: 0;
			bottom: 0;
			padding: 0 5px;
			width: 100%;
			text-align: center;
			@include transition(all 0.2s ease);
			&:hover {
				color:#ff530d;
			}
			&:before {
				content:"-";
				display:inline-block;
				margin-right:1px;
				vertical-align:2px;
			}
			&:after {
				content:"-";
				display:inline-block;
				margin-left:1px;
				vertical-align:2px;
			}
			@media (min-width: $screen-lg) { // min 1200px
				opacity:0;
			}
			@media (max-width: $screen-xs-max) { // max 767px
				display: none;
			}
		}
	}
	.comments_note {
		overflow: hidden;
		padding-bottom:10px;
		line-height:17px;
		.nb-comments {
			overflow: hidden;
			display:inline-block;
		}
	}
	.functional-buttons {
		div {
			a,
			label {
				font-weight: normal;
				color: #777676;
				cursor: pointer;
				&:hover { 
					color: #000;
				}	
			}
			&.wishlist { 
				a:before {
					display: inline-block;
					font-family: $font-icon;
					content: "\f08a";
					margin-right: 3px;
					min-width:13px;
					text-align:left;
				}
				a.checked:before {
					content: "\f004";  
				}
				
			}
			&.compare {
				a {
					&:before {
						content: "\f067";
						display: inline-block;
						font-family: $font-icon;
						margin-right: 3px;
						min-width:17px;
						text-align:left;
					}
					&.checked {
						&:before {
							content: "\f068";
						}
					}	
				}
			}
		}
	}
}

/*******************************************************
Product list(Grid) Styles 
********************************************************/

ul.product_list.grid {
	> li {
		padding-bottom: 27px;
		@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
			width: 50%;
			float: left;
		}
		.product-container {
			background: $light-background;
			padding: 0;
			.product-image-container {
				position: relative;
				margin-bottom: 34px;
				@media (max-width: $screen-xs-max) { // max 767px
					max-width: 290px;
					margin-left: auto;
					margin-right: auto;	
				}
				.product_img_link {
					display:block;
					@include product-image;
					border-top:1px solid $base-border-color;
				 }
			}
			h5 {
				padding: 0 0 5px;
				margin:0;
				a {
					span.list-name {
						display:none;
					}
				}
			}
			.comments_note {
				.star_content {
					display:inline-block;
					margin: 0 0 0 0;
				}
			}
			.product-desc {
				margin-bottom:23px;
				span.list-desc {
					display: none;
				}
			}
			.content_price {
				padding-bottom: 14px;
			}
			.old-price, 
			.price {
				display: inline-block;
			}
			.product-flags {
				display: none;
			}
			.old-price {
				margin-right: 5px;
			}
			.button-container {
				margin-bottom: 14px;
				.ajax_add_to_cart_button, 
				span.btn,
				.lnk_view { 
					margin: 0 6px 10px 0;
				}
				.lnk_view { 
					display:none;
				}
			}
			.right-block {
				padding-left:0;
				padding-right:0;	
			}
			.functional-buttons {
				border-top:$main_border;
				padding: 11px 0 5px;
				div {
					text-align:center;
					float: left;
					width:50%;
					padding: 3px 10px 4px 0;
				}
			}
		}
		@media (min-width: $screen-lg) { // min 1200px
			&.hovered {
				.product-container {
					.product-image-container {
						.quick-view {
							opacity:1;
						}
					}
				}
			}
		}
		@media (min-width: $screen-md) { // min 991px
			&.first-in-line {
				clear: left;
			}
		}
		@media (min-width: $screen-xs) and (max-width: $screen-sm-max) { // min 480px max 991px
			&.first-item-of-tablet-line {
				clear: left;
			}
		}
	}
}

/*******************************************************
Product list(List) Styles 
********************************************************/

ul.product_list.list {
	> li {
		.left-block {
			@media (max-width: $screen-xs - 1) { // max 479px
				width: 100%;	
			}
		}
		.product-container {
			border-top: 1px solid $base-border-color;
			padding: 30px 0 30px;	
		}
		.product-image-container {
			position: relative;
			@include product-image;
			border-top:1px solid $base-border-color;
			@media (max-width: $screen-xs - 1) { // max 479px
				max-width: 290px;
				margin: 0 auto;
			}
			.product_img_link {
					
			}
			.content_price {
				display: none !important;	
			}
		}
		.product-flags {
			color: $base-text-color;
			margin: 5px 0 10px 0;
			@media (min-width: $screen-xs) {
				margin-top:-5px;		
			}
			.discount {
				color: #f13340;	
			}
		}
		h5 {
			padding-bottom: 8px;
			a {
				span.grid-name {
					display:none;	
				}
			}
		}
		.product-desc {
			margin-bottom: 15px;
			span.grid-desc {
				display:none;	
			}
		}
		.center-block {
			@media (max-width: $screen-xs - 1) { // max 479px
				width: 100%;	
			}	
			.comments_note {
				margin-bottom: 12px;
				@media only screen and (min-width:$screen-xs) {
					text-align:left;
				}
				.star_content {
					display:inline-block;	
				}
			}
		}
		.right-block {
			.right-block-content {
				@media (min-width: $screen-md) { // min 991px
					margin: 0;
					border-left: 1px solid $base-border-color;
					padding-left: 15px;
					padding-bottom: 16px;
				}

				@media (max-width: $screen-sm-max) { // max 991px
					padding-top: 20px;
				}

				@media (max-width: $screen-xs - 1) { // max 479px
					padding-top: 5px;	
				}
				.content_price {
					padding-bottom: 10px;
					@media (max-width: $screen-sm-max) { // max 991px
						padding-top: 13px;
						padding-bottom: 0;	
					}

					@media (max-width: $screen-xs - 1) { // max 479px
						padding-top: 0;
						width: 100%;
					}
					span{
						display: inline-block;
						margin-top: -4px;
						margin-bottom: 14px;
						&.old-price {
							margin-right: 8px;
						}
						&.price-percent-reduction {
							display:none;	
						}
					}
				}
				.button-container {
					overflow: hidden;
					padding-bottom: 20px;
					@media (max-width: $screen-xs - 1) { // max 479px
						width: 100%;
					}
					.btn {
						margin-bottom: 10px;
						@media (min-width: $screen-md) { // min 991px
						float: left;
						clear: both;	
						}
					}
				}
				.functional-buttons {
					overflow: hidden;
					
					@media (max-width: $screen-sm-max) { // max 991px
						clear: both;
						> div {
							float: left;
							padding-top: 0 !important;
							padding-right: 20px;
						}
					}
					@media (max-width: $screen-xs - 1) { // max 479px
						float: none;

					}
					a {
						cursor: pointer;
					}

					.compare {
						padding-top: 10px;
					}
				}
			}
		}
		@media (min-width: $screen-lg) { // min 1200px
			&:hover {
				.product-image-container {	
					.quick-view {
						opacity:1;
					}
				}
			}
		}
		@media (max-width: $screen-xs - 1) {	// max 479px
			text-align: center;	
		}
	}
}

/*******************************************************
Product list(Index page) Styles 
********************************************************/

#index {
	ul.product_list.tab-pane {
		> li {
			padding-top:12px;
			.availability {
				display: none;
			}
			@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
				&.first-item-of-tablet-line {
					clear: none;
				}
				&.first-item-of-mobile-line {
					clear: left;
				}
			}
		}
	}
}

#product {
	ul.product_list.grid {
		> li {
			.product-container {
				.product-image-container {
					.product_img_link {
						border-top: none;
					 }
				}
			}
			@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
				&.first-item-of-tablet-line {
					clear: none;
				}
				&.first-item-of-mobile-line {
					clear: left;
				}
			}
		}
	}
}

/***** IE code *****/

.ie8 {
	.quick-view	 {
		opacity:1;
	}
}