@import "_theme_variables";

/* product desc */
/* primary_block ***************************************************************************** */
.primary_block {
	margin-bottom: 10px;
}
.top-hr{
	background: $top-line-color;
	height: 1px;
	margin-bottom:30px;
	@media only screen and (min-width:$screen-lg) {
		margin: 0 15px 30px;
	}
}
.one-column {
	.top-hr {
		margin-left:0;
		margin-right:0;
	}
}
.product-heading-h5{
	color: $gray-light;
	font-weight: 200;
	margin: 3px 0 8px;
	font-size: 19px;
	font-family: $font-custom;
}
.box-security .product-heading-h5{
	margin: 3px 0 -8px;
	@media  (max-width: $screen-md-max) { //max 1199px
	margin-bottom: 8px;
	}
}
#productscategory_list .product-name,
.accessories-block .product-name{
	margin-bottom: 5px;
	a{
		font-size: 12px;
		line-height: 18px;
		color: $product-name-color;
		&:hover{
			color: $product-name-hover-color;
		}
	}
}
img{
	max-width: 100%;
	height: auto;
}

/* .pb-left-column ***************************************************************************** */
.pb-left-column {
	margin-bottom:15px;
	
	@media only screen and(max-width:$screen-xs - 1){
		max-width:320px;
		margin:0 auto 15px;	
	}
	
	@media only screen and(min-width:$screen-xs) and (max-width:$screen-xs-max){
		max-width:480px;
		margin:0 auto 15px;	
	}
	
	#image-block {
		position: relative;
		z-index:1;
		padding: 5px;
		border: 1px solid $product-image-border;
		background: $light-background;
		
		&.is_caroucel {
			margin-left:100px;
			
			@media (min-width: $screen-md) and (max-width: $screen-md-max) { //min 992px max 1199px
				margin-left:98px;
			}
			
			@media only screen and (min-width:$screen-xs) and (max-width: $screen-xs-max) { //max 767px
				margin-left:93px;
			}
		}
		img {
			background: $base-box-bg;
			width: 100%;
		}
		#view_full_size {
			display: block;
			cursor: pointer;
			.span_link {
				position: absolute;
				bottom: 20px;
				left: 50%;
				margin-left: -68px;
				display: block;
				padding: 10px 0;	
				text-align: center;
				line-height: 22px;
				color: #777676;
				width: 136px;	
				text-align: center;
				font-weight: 700;
				background: rgba(255,255,255,0.5);
				@include box-shadow(0 2px 8px rgba(0,0,0,0.16));
				&:after{
					font-family: $font-icon;
					color: #c0c0c0;
					font-size: 20px;
					line-height: 22px;
					content: "\f00e";
					font-weight: normal;
					margin: 0 0 0 4px;
				}
				&:hover:after{
					color: $base-text-color
				}
			}
		}
		a.jqzoom {
			div div {
				img {
					width: auto;
					max-width: 10000px;
				}
				.zoomWrapper {
					border: none;	
				}
			}
		}
		.zoomPad {
			z-index : auto!important;
		}
		.new-box,
		.sale-box {
			z-index: 50002
		}
	}
}


/* miniatures */
.pb-left-column #views_block {	
	margin-top: 0px;
	position:absolute;
	top:0;
	left:15px;
	z-index:1;
}
#thumbs_list {
	overflow: hidden;
	width:90px;
	height:394px;
	
	@media (min-width: $screen-md) and (max-width: $screen-md-max) { //min 992px max 1199px
		height: 296px;		
	}
	@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
		height: 370px;		
	}
	@media only screen and (min-width:$screen-xs) and (max-width: $screen-xs-max) { //max 767px
		height:357px;
		width:86px;
	}
	
	@media only screen and (max-width: $screen-xs - 1) { //max 767px
		height:191px;
	}
	ul#thumbs_list_frame {
		list-style-type: none;
		padding-left: 0;
		overflow: hidden;
		margin:-11px 0 0 0;
		
		@media (min-width: $screen-md) and (max-width: $screen-md-max) { //min 992px max 1199px
			margin-top:-13px;
		}
		
		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { //min 768px max 991px
			margin-top:-3px;
		}
		
		@media only screen and (min-width:$screen-xs) and (max-width: $screen-xs-max) { //max 767px
			margin-top:-4px;
		}
	}
	li {
		float: left;
		height: 90px;
		width: 90px;
		cursor: pointer;
		margin-top: 11px;
		line-height: 0;
		@include box-sizing(border-box);
		
		@media (min-width: $screen-md) and (max-width: $screen-md-max) { //min 992px max 1199px
			margin-top:13px;
		}
		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { //min 768px max 991px
			margin-top:3px;
		}
		@media only screen and (min-width:$screen-xs) and (max-width: $screen-xs-max) { //max 767px
			margin-top:4px;			
			width:86px;
			height:86px;
		}
		&:first-child {
		}
		&.last{
		}
		a{
			display: block;
			border: 1px solid $base-border-color;
			@include transition(all 0.3s ease);
			@include box-sizing(border-box);
			background: $base-box-bg;
			&:hover, &.zoomThumbActive {
				border-color: darken($base-border-color, 25%);
			}
		}
		img {
			width: 100%;
			height: 100%;
			@include box-sizing(border-box);
		}
	}
}
.one-column {
	.pb-center-column {
		@media only screen and (min-width:$screen-sm) and (max-width:$screen-sm-max) {
			#product_comments_block_extra, #loyalty {
				display:none;	
			}
		}
	}
	.pb-right-column {
		@media only screen and (min-width:$screen-sm) and (max-width:$screen-sm-max) {
			#product_comments_block_extra, #loyalty {
				display:block;
			}
		}
	}
}
.two-columns {

	#image-block.is_caroucel {
		@media only screen and (min-width:$screen-md) and (max-width:$screen-md-max) {
			margin-left:92px;	
		}
		
		@media only screen and (min-width:$screen-sm) and (max-width:$screen-sm-max) {
			margin-left:110px;
		}
	}
	
	#thumbs_list {

		@media only screen and (min-width:$screen-sm){
			height:470px;
		}
		
		@media only screen and (min-width:$screen-md) and (max-width:$screen-md-max) {
			height:363px;
		}
		
		@media only screen and (min-width:$screen-sm) and (max-width:$screen-sm-max){
			height:420px;
		}
		
		@media only screen and (min-width:$screen-sm) and (max-width:$screen-sm-max) {
			li {
				margin-top:20px;
			}
		}
		
		ul#thumbs_list_frame {
			@media only screen and (min-width:$screen-lg) {
				margin-top:-5px;	
			}
			@media only screen and (min-width:$screen-md) and (max-width:$screen-md-max) {
				margin-top:-1px;	
			}
			
			@media only screen and (min-width:$screen-sm) and (max-width:$screen-sm-max) {
				margin-top:-20px;	
			}
		}
		
		li {
			@media only screen and (min-width:$screen-lg) {
				margin-top:5px;	
			}
			@media only screen and (min-width:$screen-md) and (max-width:$screen-md-max) {
				margin-top:1px;	
			}
		}
	}
	
	.pb-center-column {
		@media only screen and (min-width:$screen-md){
			#product_comments_block_extra, #loyalty {
				display:none;	
			}
		}
	}
	.pb-right-column {
		@media only screen and (min-width:$screen-md){
			#product_comments_block_extra, #loyalty {
				display:block;	
			}
		}
	}
}
.three-columns {
	@media only screen and (min-width:$screen-lg) {
		#thumbs_list {
			height:470px;
			
			ul#thumbs_list_frame {
				margin-top:-5px;	
			}
			li {
				margin-top:5px;	
			}
		}
	}
	
	@media only screen and (min-width:$screen-md) and (max-width:$screen-md-max) {
		.pb-left-column #image-block.is_caroucel {margin-left:92px;}
		
		#thumbs_list {
			height:366px;
			
			ul#thumbs_list_frame {
				margin-top:-2px;	
			}
			li {
				margin-top:2px;	
			}
		}
	}
	
	@media only screen and (min-width:$screen-sm) and (max-width:$screen-sm-max) {
		.pb-left-column #image-block.is_caroucel {margin-left:92px;}
		
		#views_block {
			
		}
		#thumbs_list {
			height:253px;
			
			li {

			}
		}
	}
}

#view_scroll_left,
#view_scroll_right {
	width: 100%;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
	position:absolute;
	left:0;
	top:0;
	z-index:1;
	background:rgba(18,18,18,0.3);
	text-align:center;
	&:before{
		color: $scroll-button-color;
		font-family: $font-icon;
		font-size: 20px;
		line-height: 22px;		
	}
	&:hover:before{
		color: $scroll-button-hover-color;
	}
}
#view_scroll_right {
	top:auto;
	bottom:0;
	&:before{
		content: "\f0d7";	
	}
}
#view_scroll_left {
	&:before{
		content: "\f0d8";
	}
}
.resetimg {
	padding: 0 15px 0 0;
	position:absolute;
	right:15px;
	bottom:0px;
	margin-bottom:5px;
	z-index:1;
	#resetImages i{
		margin-right: 6px;
	}	
}


/* link list */
#usefull_link_block {
	list-style-type: none;
	li {
		margin: 0 0 8px 0;
		@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {	 //min 768px max 991px		
			float: none !important;			
		}
		&:first-child{
			margin: 0 0 8px 0;
			border: none;
			padding: 0;
		}
		a{
			color: $link-color;
			font-weight: 700;
			position: relative;
			padding-left: 30px;
			line-height: 22px;
			display: inline-block;	

			&:before{
				font-family: $font-icon;
				color: $link-color;
				font-size: 19px;
				line-height: 24px;
				position: absolute;
				top: -2px;
				left: 0;
				font-weight: normal;			
			}
			&:hover{
				color: $link-hover-color;
			}
		}
		&.print{
			@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { //min 768px max 991px	
				margin: 8px 0 0 ;
				padding: 0;
				border: none;	
			}	 
			a:before{
				content: "\f02f";		
			}
		}
		&.sendtofriend {
			a:before{
				content: "\f003";
			}
		}
		&#left_share_fb {
			clear: both;
			float: none;
			a{
				padding-left: 18px;
			}
			a:before{
				content: "\f09a";
			}
		}
		&#favoriteproducts_block_extra_remove, 
		&#favoriteproducts_block_extra_add, 
		&#favoriteproducts_block_extra_removed, 
		&#favoriteproducts_block_extra_added{
			cursor: pointer;
			font-weight: 700;
			clear: both;
			float: none;
			margin: 0 0 8px 0;
			border: none;
			padding: 0;
			position: relative;
			&:before{
				font-family: $font-icon;
				color: $base-text-color;
				font-size: 19px;
				line-height: 24px;
				position: absolute;
				top: -2px;
				left: 0;	
				font-weight: normal;	
				content: "\f08a";
			}
			&:hover{
				color: $link-hover-color;
			}
		}
		&#favoriteproducts_block_extra_removed:before {
			content: "\f004";
		} 
	}
}

.pb-right-column {
	.socialsharing_product, #product_comments_block_extra, #loyalty {
		display:none;	
	}
}
/* pb-center-column ****************************************************************************** */
.pb-center-column {
	margin-bottom: 30px;
	
	h1 {
		padding-bottom: 20px;
		font-size: 25px;
		color: $product-name-color;
		margin:10px 0;
	}
	p {
		margin-bottom: 2px;
	}
	#product_reference {
		margin-bottom: 2px;
		span{
			font-weight: 700;
			color: $base-text-color;
		}
	}
	#short_description_block {
		color: $description-color;
		.buttons_bottom_block {
			display: none;
		}
		#short_description_content{
			padding: 0 0 10px;
			word-wrap: break-word;
			p{
				line-height: 18px;
			}
		} 
	}
	.socialsharing_product {
		padding:8px 0 0 0;
		margin:0 0 0 0;	
	}
	/* form */
	#buy_block {
		margin-top: 10px;
		label {
			display: inline-block;
			width: 125px;
			font-weight: 700;
			font-size: 12px;
			text-align: right;
		}
		p{
			&.price {
				padding: 0;
			}
		}
	}
	#color_picker p {
		padding-bottom: 5px;
		font-weight: 700;
	}
}
#product p#loyalty {
	padding: 17px 0 15px 35px;
	border-top: $main_border;
	border-bottom: $main_border;
	margin: 10px 0 -5px;
	position: relative;
	b{
		color: $base-text-color
	}
	&:before{
		content: "\f024";
		font-family: $font-icon;
		color: #cfcccc;
		font-size: 26px;
		line-height: 28px;
		position: absolute;
		top: 16px;
		left: 0;		
	}
}
#page .rte {
	padding: 0 20px 20px;
	word-wrap: break-word;
	p{
		margin-bottom: 0;
	}
}
#attributes{
	fieldset {
		padding-bottom: 3px;
		label {
			vertical-align: top;
			display: block;
		}
	}
	.attribute_list {
		width: 100%;
		.form-control {
			max-width: 230px;
			option{
				background: $light-background;
				color: $description-color;
			}
		}
		ul{
			clear: both;
			li{
				float: left;
				margin-right: 10px;
			}
		}
		input.attribute_radio{
			float: left;
			margin-left: 3px;
		}
		div.radio, 
		div.radio span,
		div.radio input{
			float: none;
			display: inline-block; 
		}
		#color_to_pick_list {
			list-style-type: none;
			li {
				float: left;
				margin: 0 3px 3px 0;
				padding: 1px;
				border: 1px solid $base-border-color;
				clear: none;
				a.color_pick {
					display: block;
					height: 22px;
					width: 22px;
					cursor: pointer;
				}
				&.selected{
					border:1px solid #4d4d4d;
				}
			}
		}	
	}
}
.product_attributes,
.box-cart-bottom {
	@include box-shadow(inset 0 6px 6px rgba(0,0,0,0.05));
	padding: 19px 19px 3px;
}
.box-cart-bottom{
	padding: 0;	
}

.box-info-product {
	background: $list-info-bg;	
	border: 1px solid $base-border-color;
	border-top: 1px solid $base-border-color;
	border-bottom: 1px solid $base-border-color;
	p{
		margin-bottom: 7px;
	} 
	.ajax_add_to_cart_product_button {
		&.added {
			&:before {
			content: "\f00c";	
			}
		}
		&.added.disabled, 
		&.disabled, &[disabled] {
			opacity:1 !important;
			&:before {
				content: "\f110";
				animation: 2s linear 0s normal none infinite spin;
				-webkit-animation: 2s linear 0s normal none infinite spin;
				-moz-animation: 2s linear 0s normal none infinite spin;
				border: none;
				opacity:1;
			}
		}
		span{
		}
		&:hover{
		}
	}
}

#center_column.col-sm-9{
	.col-md-3{
		.box-info-product {
			background: $list-info-bg;	
			border: 1px solid $base-border-color;
			border-top: 1px solid $base-border-color;
			border-bottom: 1px solid $base-border-color;
			p{
				margin-bottom: 7px;
				padding: 15px 10px 0
			} 
		}
	}
}

/* table_data_sheet */
.table-data-sheet{
	border-bottom: $main_border;	
	width: 100%;
	margin: 0 0 20px;
	background: $light-background;	
	tr{
		border-top: $main_border;
		&.even{
			background: $tr-even-bg;
		}
		td{
			padding: 10px 20px 11px;
			&:first-child{
				border-right: $main_border;
				width: 30%;
				font-weight: 700;
				color: $base-text-color;
			}
		}
	}
}

/* table product-discounts */
table.table-product-discounts{
	border: none;
	border-bottom: $main_border;
	border-right: $main_border;
	width: 50%;
	margin: 0 0 20px;
	background: $light-background;
	@media (max-width: $screen-xs-max) { //max 767px
		width: 100%;																		
	}		
	tr th{
		background: $table-background;
		color: $base-text-color;
		font-weight: 700;
		border: none;
		font-weight: 700;
	}	
	tr td,
	tr th{
		border-left: $main_border;
		width: 33%;
		padding: 10px 20px 11px;
		border-top: $main_border;
		border-right: none;
		text-shadow: none;
		text-transform: none;
		font-weight: 13px;
		line-height: 18px;
		border-bottom: none;
	}
}

/* accessories  */
.accessories-block {
	.block_description{
		display: none;
	}
	.no-print {
		@media (max-width: $screen-md-max) { // max 1199px
			.btn.ajax_add_to_cart_button, .btn.ajax_add_to_cart_product_button {
				padding:0;
				position:relative;
				span {
					padding:6px 10px;
					&:before {
						display:none;
					}
				}
				&:before {
					display:none;
				}
			}
		}
		@media (max-width: $screen-xs - 1) { // max 479px
			.btn.ajax_add_to_cart_button, .btn.ajax_add_to_cart_product_button {
				font-size:9px;
				line-height:14px;	
			}
		}
	}
}

/* quantity_wanted */
#quantity_wanted_p{
	input {
		width: 78px;
		height: 27px;
		padding: 0 6px;
		float: left;
		border: $main_border;
		line-height: 27px;
	}
	.btn{
		float: left;
		margin-left: 3px
	}
	label{
		display: block;
		margin-bottom: 7px;
	}
}

/* availability_statut */
#availability_statut span#availability_label, 
#availability_date_label {
	display: inline-block;
	width: 125px;
	font-weight: 700;
	font-size: 12px;
	text-align: right;
}
#quantityAvailable {
	color: $base-text-color;
	font-size: 13px;
	line-height: 18px;
	font-weight: 700;
} 
#availability_value, 
#last_quantities {
	color: $light-text-color;
	font-weight: 700;
	line-height: 18px;
	display: inline-block;
	padding: 3px 8px 4px;
	background: #46a74e;
	border: 1px solid #36943e;
	margin-left: 5px;
}
#last_quantities {
	background: #ff7430;
	border: 1px solid #ea5e1a;
	padding: 4px 8px 3px;
	position: relative;
	top: 1px;
}
#availability_statut, 
#pQuantityAvailable {
	display: inline-block;
}
#pQuantityAvailable span {
	font-weight: 700;
	color: $base-text-color;
}
#availability_statut #availability_value.warning_inline {
	background-color: #fe9126;
	border-color: #e4752b;
	text-shadow: 1px 1px #e68322;
	margin: 0;
}

/* box-security */
.box-security {
	border-top: 1px solid #dfdede;
	padding: 19px 19px 6px ;
	@include background-image(linear-gradient(#fff, #fbfbfb)); 
}

/* prices */
.content_prices {
	padding: 13px 19px;
}
.discount {
	display: none;
}

.our_price_display {
	font-weight: normal;
	font-size: 29px;
	line-height: 32px;
	color: #000;
	@media (max-width: $screen-sm-max) { //max 991px
		font-size: 26px;
		line-height: 28px;	
	}
}

#old_price {
	padding-bottom: 0;
	font-size: 17px;
	text-decoration: line-through;
	display: inline-block;
	line-height: 23px;
	color:#777;
}

#reduction_percent, 
#reduction_amount {
	display: inline-block;	
	margin-right: 10px;
	padding: 1px 3px;
	font-weight: 600;
	font-family: $font-custom;
	font-size: 21px;
	line-height: 23px;
	color: $light-text-color;
	background: #ff530d;
	border: none;
	span{
		display:block;	
	}
}

/* online_only */
.pb-center-column p.online_only {
	font-weight: bold;
	text-transform:uppercase;
	font-size: 11px;
	color: #ffd400;
	margin-bottom:10px;
	padding:3px 8px;
	display:inline-block;
	background:$dark-background;
	text-align: left;	
}

.buttons_bottom_block {
	clear: both;
	padding: 10px 19px 10px;
	#wishlist_button {
		font-weight: 700;	
	}
}
#add_to_cart.buttons_bottom_block {
	padding-top:20px;
	padding-bottom:0;	
}
/* SEND TO FRIEND (pop-in) ##################################################################### */
#send_friend_form {
	width: 555px;
	overflow: hidden;
	@media (max-width: $screen-xs-max) { // max 767px
		width: 280px;
	}
	.product {
		img{
			margin: 0 0 10px 0;
			border: 1px solid $base-border-color;
		}
		p{
			padding: 0 ;
			color: $base-text-color;
			.product_name {
				font-size: 12px;
				color: #000;
			}
		}
	}
	.form_container {
		padding: 10px 15px;
		border: 1px solid $base-border-color;
		background: $base-box-bg;
		p{
			&.intro_form {
				padding-bottom: 6px;
				font-weight: 700;
				font-size: 13px;
				color: $base-text-color;
			}
			&.txt_required{
				padding-bottom: 0;
				color: #666;	
			}
		}
		.text {
			padding-bottom: 10px;
			label {
				display: block;
				padding: 0;
				width: 100%;
				font-size: 12px;
			}
			input {
				padding: 0 5px;
				height: 22px;
				width: 100%;
				border: 1px solid base-border-color;
				font-size: 12px;
				color: #666;
			}
		}
	}
	.submit {
		margin-top: 20px;
		padding-bottom: 0;
		text-align: right;
	}	
}

/* PERSONNALISATION ##################################################################### */

p.infoCustomizable {
	margin-bottom: 30px;
}

ul#uploadable_files,
ul#text_fields {
	list-style-type: none;
}

.customizableProductsFile,
.customizableProductsText {
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid $base-border-color;
}

.customizationUploadLine {
	padding-bottom:10px;
	label{
		display: block;
		vertical-align: top;
	}
	textarea {	
		width: 50%;
		border: $main_border;
		color: $text-color;
	}
}
.customizationUploadBrowse img + a {
	position: relative;
}

#customizedDatas {
	float: right;
}

.accessories_block {
	div ul li {
		a {
			display: inline-block;
		}
		&.s_title_block {
			a, 
			span{
				font-weight:700;
			}
		}
	} 
}
.pb-left-column .zoomPad {
	float:none;	
}
/*************************************** two columns layout triks *******************************************/
.two-colums, .three-colums {
	#center_column {
		.pb-right-column,
		.pb-right-column {
			overflow:hidden;
			.content_prices {
				padding:15px 19px 10px 10px;
				overflow:hidden;
				.price {
					p {
						padding-top:0;
						float:left;
						line-height:25px;
						margin-bottom:0;
						&.our_price_display {
							padding-top:2px;
							padding-right:10px;
						}
						&#old_price {
							padding-top:5px;	
						}
					}
				}
			}
			.product_attributes {
				#quantity_wanted_p {
					padding-left:0;
					padding-top:0;	
				}
				#attributes {
					.attribute_fieldset {
						width:200px;
						margin-right:15px;
						float:left;	
					}
				}
			}
			.box-cart-bottom {
				> p.buttons_bottom_block {
					padding-top:10px;
					padding-bottom:10px;
				}
			}
			#product_payment_logos {
				text-align:right;
			}
		}
	}
}

/******************************************************************
Quick View Styles
******************************************************************/
#product.content_only {
	.primary_block.row {
		margin:0;	
	}
	div {
		&.primary_block {	
			margin-bottom: 0;															

			div {
				&.pb-left-column {
					padding: 15px 15px 0px 15px;
					width:500px;
					max-width:500px;
					float:left;
					
					#views_block {
						top:15px;
					}
					
					@media only screen and (max-width:800px){
						margin:0 auto;
						float:none;	
					}
				}
				&.pb-center-column {
					padding: 20px 20px 10px 15px;
					width: 50%;
					float:left;
					margin-bottom: 0;
					
					@media only screen and (min-width:801px){
						width: 100%;	
					}

					.product_comments_block_extra{
						padding-right: 0;
					}

					#ShareDiv{
						position: absolute;
						bottom: 8px;
					}
				}
				&.pb-right-column {
					width: auto;
					padding:15px 15px 0 0;
					.box-info-product {
						position: relative;
						background:none;
						border:none;
					}	
					
					.box-security {
						background:none;
						border:none;
						padding-top:0;
						padding-bottom:0;
					}
					
					.content_prices {
						padding:0 0 0 15px;	
					}
					
					#color_to_pick_list {
						margin-bottom:0;	
					}
					
					#attributes .attribute_list {
						.form-control {
							width: 230px;
						}	
					}
					.product_attributes, 
					.box-cart-bottom {
						@include box-shadow(rgba(black,0) 0 0 0);
					}
					.product_attributes { 
						padding-top:0;
					}
					
					#add_to_cart.buttons_bottom_block {
						padding-top:0;
					}
				}
			}
		}	
	}

}

.addsharethisinner .stButton .stArrow {
	display: none !important;
}

#view_full_size {
	.zoomPreload {
		background-position:center center;
		text-indent:-5000px;	
	}
}
/***** IE code ****/

.ie8 {
	.pb-left-column {
		#image-block {
			#view_full_size {
				.span_link {
					background: #fff;
					border: 1px solid $base-border-color;	
				}
			}
		}	
	}
	.box-security {
		filter: none;
	}	
} 

#blockpack {
	ul.product_list {
		>li {
			@media only screen and (max-width:$screen-xs-max) {
				&.first-item-of-mobile-line {
					clear:left;	
				}
				&.first-item-of-tablet-line {
					clear:none;	
				}
			}
		}
	}
}