#search_block_top {
  width: 100%;
  padding: 0; }
  @media (max-width: 767px) {
    #search_block_top {
      padding: 0 15px; } }
  #search_block_top #searchbox {
    float: left;
    width: 100%;
    border: none;
    position: relative;
    background: #393e3d;
    padding-right: 45px; }
  #search_block_top .btn.button-search {
    background: none;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    color: #5b605f;
    width: 45px;
    height: 100%;
    text-align: center;
    padding: 0;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
    #search_block_top .btn.button-search span {
      display: none; }
    #search_block_top .btn.button-search:before {
      content: "\f002";
      display: block;
      font-family: "FontAwesome";
      font-size: 26px;
      width: 100%;
      text-align: center; }
    #search_block_top .btn.button-search:hover {
      color: #fff; }
  #search_block_top #search_query_top {
    display: inline-block;
    padding: 15px 10px 15px 13px;
    height: 52px;
    border: none;
    background: none;
    color: #fff; }

.ac_results {
  background: white;
  border: 1px solid #f2f2f2;
  width: 271px;
  margin-top: -1px; }
  .ac_results li {
    padding: 0 10px;
    font-weight: normal;
    color: #686666;
    font-size: 13px;
    line-height: 22px; }
    .ac_results li.ac_odd {
      background: white; }
    .ac_results li:hover, .ac_results li.ac_over {
      background: #fbfbfb; }

form#searchbox {
  position: relative; }
  form#searchbox label {
    color: #333333; }
  form#searchbox input#search_query_block {
    margin-right: 10px;
    max-width: 222px;
    margin-bottom: 10px;
    display: inline-block;
    float: left; }
  form#searchbox .btn.btn-sm {
    float: left; }
    form#searchbox .btn.btn-sm i {
      margin-right: 0; }
