.shop-phone {
  position: absolute;
  top: 101px;
  right: 340px;
  color: #f6f6f6;
  font: normal 13px/18px "Open Sans", sans-serif;
  text-transform: uppercase;
  z-index: 1; }
  @media (max-width: 767px) {
    .shop-phone {
      display: none; } }
  .shop-phone span {
    display: inline-block; }
  .shop-phone i {
    font-size: 40px;
    line-height: 40px;
    color: #ffd400;
    padding-right: 11px;
    display: inline-block;
    vertical-align: -1px; }
  .shop-phone strong {
    font-weight: normal;
    font-size: 30px;
    font-style: italic;
    display: block;
    padding-top: 3px; }
  @media (max-width: 991px) {
    .shop-phone {
      display: none; } }

#contact-link {
  display: none;
  float: right;
  border-left: 1px solid #515151; }
  @media (max-width: 479px) {
    #contact-link {
      width: 25%;
      text-align: center; } }
  #contact-link a {
    display: block;
    color: white;
    font-weight: bold;
    padding: 8px 10px 11px 10px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer; }
    @media (max-width: 479px) {
      #contact-link a {
        font-size: 11px;
        padding-left: 5px;
        padding-right: 5px; } }
    #contact-link a:hover, #contact-link a.active {
      background: #2b2b2b; }

@media (max-width: 767px) {
  #contact_block {
    margin-bottom: 20px; } }
#contact_block .label {
  display: none; }
#contact_block .block_content {
  color: #888888; }
#contact_block p {
  margin-bottom: 4px; }
#contact_block p.tel {
  font: 400 17px/21px Arial, Helvetica, sans-serif;
  color: #333333;
  margin-bottom: 6px; }
  #contact_block p.tel i {
    font-size: 25px;
    vertical-align: -2px;
    padding-right: 10px; }
