<div class="row">
	<div class="col-xs-12 col-md-6">
        <p class="payment_module">
            <a class="cash" href="{$link->getModuleLink('cashondelivery', 'validation', [], true)|escape:'html'}" title="{l s='Pay with cash on delivery (COD)' mod='cashondelivery'}" rel="nofollow">
            	{l s='Pay with cash on delivery (COD)' mod='cashondelivery'}<br />
            	{l s='You pay for the merchandise upon delivery' mod='cashondelivery'}
            </a>
        </p>
    </div>
</div>