#my-account .addresses-lists {
  margin-bottom: 30px; }
#my-account ul.myaccount-link-list li {
  overflow: hidden;
  padding-bottom: 10px; }
  #my-account ul.myaccount-link-list li a {
    display: block;
    overflow: hidden;
    font: 600 16px/20px "Open Sans", sans-serif;
    color: #393e3d;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    border: 1px solid;
    border-color: #f2f2f2;
    background: #f7f7f7; }
    #my-account ul.myaccount-link-list li a i {
      font-size: 25px;
      position: absolute;
      left: 0;
      top: 0;
      width: 52px;
      height: 100%;
      padding: 10px 0 0 0;
      text-align: center;
      border-right: 1px solid white; }
    #my-account ul.myaccount-link-list li a span {
      display: block;
      padding: 13px 15px 15px 17px;
      overflow: hidden;
      border-left: 1px solid;
      margin-left: 52px;
      border-color: #f2f2f2; }
    #my-account ul.myaccount-link-list li a:hover {
      background: #eaeaea;
      border-color: #e5e5e5; }
