@import "../../_theme_variables";

/* block top links */
ul#header_links {
	list-style-type: none;
	margin:0;
	float:left;
	overflow:hidden;
	@media (max-width: $screen-xs - 1) { // max 479px
		display:none;
	}
	li {
		text-transform:uppercase;
		float: left;
		padding: 13px 25px 20px 0;				
		font: 600 12px / 18px $font-custom;
		a {
			color:#FFF;
			&:hover, &.active {
				color:#ff530d;
			}
		}
	}
}

/*block permanent links right and left columns*/
#permanent_links div {border-bottom: 1px dotted #eee}
#permanent_links div a {
	display: block;
	padding: 7px 11px 5px 22px;
	color: #333;
	background:url(img/arrow_right_2.png) no-repeat 10px 10px;
}

/* block footer links */
ul#footer_links{
	clear:both;
	text-align: center;
	padding-bottom:6px
}
ul#footer_links li{
	display: inline;
	padding:0 10px
}
