@charset "UTF-8";
/* Top hook CSS */
.htmlcontent_top_box {
  margin-top: -248px;
  position: relative;
  z-index: 1;
  margin-bottom: 32px; }
  .htmlcontent_top_box > div .banBox img {
    max-width: 100%;
    height: auto;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  .htmlcontent_top_box > div .banBox .imgBox {
    overflow: hidden; }
  .htmlcontent_top_box > div .banBox .item-html {
    background: #5b605f;
    display: block;
    padding: 23px 100px 28px 33px;
    color: #ff530d;
    font: normal 15px/17px "Open Sans", sans-serif;
    text-transform: uppercase;
    position: relative;
    overflow: hidden; }
    .htmlcontent_top_box > div .banBox .item-html h2 {
      font: normal 30px/1em "Open Sans", sans-serif;
      color: #fff;
      text-transform: uppercase;
      font-style: italic;
      margin: 0; }
    .htmlcontent_top_box > div .banBox .item-html:after {
      font-family: "FontAwesome";
      content: "";
      color: #fff;
      background: #ffd400;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 98px;
      font-size: 51px;
      font-weight: normal;
      text-align: center;
      display: block;
      line-height: 1em;
      padding-top: 21px; }
  @media (min-width: 1200px) {
    .htmlcontent_top_box > div a:hover .item-html {
      background: #484e4d;
      color: #fff;
      transition: all 0.2s ease; }
      .htmlcontent_top_box > div a:hover .item-html h2 {
        color: #ff530d;
        transition: all 0.2s ease;
        animation: 400ms ease-in-out 0s normal none 1 moveFromLeft;
        -webkit-animation: 400ms ease-in-out 0s normal none 1 moveFromLeft; }
      .htmlcontent_top_box > div a:hover .item-html:after {
        animation: 300ms ease-in-out 0s normal none 1 moveFromRight;
        -webkit-animation: 300ms ease-in-out 0s normal none 1 moveFromRight; }
    .htmlcontent_top_box > div a:hover img {
      -moz-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
      -o-transform: scale(1.2, 1.2);
      -webkit-transform: scale(1.2, 1.2);
      transform: scale(1.2, 1.2); } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .htmlcontent_top_box {
      margin-top: -197px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .htmlcontent_top_box {
      margin-top: -147px; }
      .htmlcontent_top_box > div .banBox .item-html {
        padding: 12px 50px 13px 18px; }
        .htmlcontent_top_box > div .banBox .item-html:after {
          width: 48px;
          font-size: 28px;
          padding-top: 23px; } }
  @media (max-width: 767px) {
    .htmlcontent_top_box {
      margin: 0 -15px; }
      .htmlcontent_top_box > div {
        width: 33.3333%;
        float: left;
        padding: 0; }
        .htmlcontent_top_box > div .banBox .item-html {
          padding: 6px 5px 13px;
          text-align: center;
          font: normal 11px/16px "Open Sans", sans-serif; }
          .htmlcontent_top_box > div .banBox .item-html h2 {
            font: normal 14px/1em "Open Sans", sans-serif;
            font-style: italic; }
          .htmlcontent_top_box > div .banBox .item-html:after {
            display: none; } }

#htmlcontent_top ul {
  margin-bottom: 45px; }
  #htmlcontent_top ul li a {
    overflow: hidden; }
  #htmlcontent_top ul li img {
    max-width: 100%;
    height: auto;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1); }
  #htmlcontent_top ul li .banBox {
    position: relative;
    overflow: hidden; }
    #htmlcontent_top ul li .banBox:after {
      font-family: "FontAwesome";
      content: "";
      color: #fff;
      position: absolute;
      right: 13px;
      bottom: 13px;
      font-size: 25px;
      font-weight: normal;
      display: block;
      line-height: 1em;
      z-index: 2;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }
    #htmlcontent_top ul li .banBox:before {
      content: " ";
      position: absolute;
      right: -44px;
      bottom: -96px;
      height: 200px;
      width: 100px;
      background: #ffd400;
      display: block;
      z-index: 1;
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }
  #htmlcontent_top ul li .item-html {
    display: block;
    padding: 23px 70px 0 0;
    color: #ff530d;
    font: normal 30px/32px "Open Sans", sans-serif;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3; }
    #htmlcontent_top ul li .item-html h2 {
      font: normal 80px/1em "Open Sans", sans-serif;
      color: #fff;
      text-transform: uppercase;
      font-style: italic;
      margin: 40px 0 -7px; }
  @media (min-width: 1200px) {
    #htmlcontent_top ul li a:hover .item-html {
      animation: 400ms ease-in-out 0s normal none 1 moveFromRight;
      -webkit-animation: 400ms ease-in-out 0s normal none 1 moveFromRight; }
    #htmlcontent_top ul li a:hover img {
      -moz-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
      -o-transform: scale(1.2, 1.2);
      -webkit-transform: scale(1.2, 1.2);
      transform: scale(1.2, 1.2); }
    #htmlcontent_top ul li a:hover .banBox:after {
      right: -60px;
      bottom: -50px; }
    #htmlcontent_top ul li a:hover .banBox:before {
      right: -110px;
      bottom: -150px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  #htmlcontent_top ul li .item-html {
    padding: 5px 30px 0 0; }
    #htmlcontent_top ul li .item-html h2 {
      font-size: 70px;
      margin: 20px 0 -7px; } }
@media (min-width: 768px) and (max-width: 991px) {
  #htmlcontent_top ul li .item-html {
    padding: 0 20px 0 0;
    font-size: 20px;
    line-height: 22px; }
    #htmlcontent_top ul li .item-html h2 {
      font-size: 50px;
      margin: 15px 0 -3px; } }
@media (max-width: 767px) {
  #htmlcontent_top ul {
    margin: 0 -15px; }
    #htmlcontent_top ul > li {
      width: 50%;
      float: left;
      padding: 0; } }
@media (min-width: 400px) and (max-width: 767px) {
  #htmlcontent_top ul > li .item-html {
    display: none; } }
@media (max-width: 399px) {
  #htmlcontent_top ul {
    margin: 0 -15px; }
    #htmlcontent_top ul > li {
      width: 100%;
      float: none;
      padding: 0; }
      #htmlcontent_top ul > li .item-html {
        padding: 0 20px 0 0;
        font-size: 20px;
        line-height: 22px; }
        #htmlcontent_top ul > li .item-html h2 {
          font-size: 50px;
          margin: 15px 0 -3px; } }

#htmlcontent_logo ul {
  margin: 0;
  background: #f6f6f6; }
  #htmlcontent_logo ul li {
    width: 20%;
    float: left;
    border-left: 1px solid #eaeaea; }
    #htmlcontent_logo ul li:first-child {
      border-color: #f6f6f6; }
    #htmlcontent_logo ul li img {
      max-width: 100%;
      height: auto;
      -moz-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1); }
    #htmlcontent_logo ul li .banBox {
      position: relative;
      overflow: hidden; }
    @media (min-width: 1200px) {
      #htmlcontent_logo ul li a:hover img {
        -moz-transform: scale(1.3, 1.3);
        -ms-transform: scale(1.3, 1.3);
        -o-transform: scale(1.3, 1.3);
        -webkit-transform: scale(1.3, 1.3);
        transform: scale(1.3, 1.3); } }
    @media (min-width: 768px) and (max-width: 1199px) {
      #htmlcontent_logo ul li {
        border: none; } }
  @media (max-width: 767px) {
    #htmlcontent_logo ul {
      margin: 0 -15px; }
      #htmlcontent_logo ul li {
        border: none; } }
  @media (max-width: 479px) {
    #htmlcontent_logo ul {
      text-align: center; }
      #htmlcontent_logo ul li {
        border: none;
        float: none;
        width: 30%;
        display: inline-block; } }

/* Left hook CSS */
/* Right hook CSS */
/* Footer hook CSS */
@-webkit-keyframes moveFromRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200%); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0%); } }
@-webkit-keyframes moveFromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200%); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0%); } }
@-webkit-keyframes moveFromBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200%); }

  50% {
    opacity: 0.5;
    -webkit-transform: translateY(100%); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0%); } }
@-webkit-keyframes moveFromtop {
  0% {
    opacity: 0;
    transform: translateY(-200%); }

  50% {
    opacity: 0.5;
    transform: translateY(-100%); }

  100% {
    opacity: 1;
    transform: translateY(0%); } }
@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(200%); }

  100% {
    opacity: 1;
    transform: translateX(0%); } }
@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-200%); }

  100% {
    opacity: 1;
    transform: translateX(0%); } }
@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(200%); }

  50% {
    opacity: 0.5;
    transform: translateY(100%); }

  100% {
    opacity: 1;
    transform: translateY(0%); } }
@keyframes moveFromtop {
  0% {
    opacity: 0;
    transform: translateY(-200%); }

  50% {
    opacity: 0.5;
    transform: translateY(-100%); }

  100% {
    opacity: 1;
    transform: translateY(0%); } }
