#my-account ul.myaccount-link-list li a {
  color: #2d3635; }

.btn-success {
  background: #374140; }
  .btn-success:hover, .btn-success:active, .btn-success:active:focus, .btn-success:focus {
    background: #2d3635; }

.header-container {
  background-image: url(../../../../img/header-bg-5.png); }

header .user_info li a {
  background: #e74c3c; }
header ul#header_links li a:hover, header ul#header_links li a.active {
  color: #e74c3c; }
header .shop-phone i {
  color: #7ecefd; }
header #languages-block-top div.current, header #currencies-block-top div.current {
  color: #e74c3c; }
  header #languages-block-top div.current:hover, header #languages-block-top div.current.active, header #currencies-block-top div.current:hover, header #currencies-block-top div.current.active {
    color: #7ecefd; }
header #languages-block-top ul, header #currencies-block-top ul {
  background: #2e3736; }
  header #languages-block-top ul li, header #currencies-block-top ul li {
    border-color: #2d3635; }

#header .cartBox .shopping_cart > a:first-child {
  background: #7ecefd;
  color: #2e3736; }
  #header .cartBox .shopping_cart > a:first-child:before {
    color: #e74c3c; }
  #header .cartBox .shopping_cart > a:first-child:hover:before {
    background: #e74c3c;
    color: #fff; }

#header .cart_block {
  background: #202525; }
  #header .cart_block .cart-prices {
    background: #212827;
    border-color: #e74c3c; }
    #header .cart_block .cart-prices .cart-prices-line {
      border-color: #2d3635; }
  #header .cart_block .cart-buttons {
    background: #7ecefd; }

header #search_block_top #searchbox {
  background: #374140; }
header #search_block_top .btn.button-search {
  color: #2e3736; }

header .sf-menu {
  background: #374140;
  border-color: #e74c3c; }
header .sf-menu > li {
  border-color: #2d3635; }
  @media (min-width: 768px) {
    header .sf-menu > li > a:before {
      color: #2e3736; } }
  header .sf-menu > li.sfHover > a,
  header .sf-menu > li > a:hover, header .sf-menu > li.sfHoverForce > a {
    background: #2e3736; }
header #search_li {
  background: #2e3736; }
header .sf-menu li li li a:hover {
  color: #e74c3c; }
header .sf-menu li li li.sfHoverForce a {
  color: #e74c3c; }
header .sf-menu > li > ul > li > a:hover {
  color: #e74c3c; }
header .sf-menu > li > ul > li.sfHoverForce > a {
  color: #e74c3c; }
header .sf-menu li ul {
  background: #2e3736; }
header .sf-menu > li > ul > li.category-thumbnail {
  background: #2d3635; }
@media (max-width: 767px) {
  header .cat-title {
    background: #374140; }
    header .cat-title:hover, header .cat-title.active {
      background: #2d3635; } }

#homepage-slider .homeslider-description button {
  background: #e74c3c; }
  #homepage-slider .homeslider-description button:hover {
    background: #7ecefd; }

.htmlcontent_top_box > div .banBox .item-html {
  background: #374140;
  color: #e74c3c; }
  .htmlcontent_top_box > div .banBox .item-html:after {
    background: #7ecefd; }
@media (min-width: 1200px) {
  .htmlcontent_top_box > div a:hover .item-html {
    background: #2d3635; }
    .htmlcontent_top_box > div a:hover .item-html h2 {
      color: #e74c3c; } }

#htmlcontent_top ul li .banBox:before {
  background: #7ecefd; }
#htmlcontent_top ul li .item-html {
  color: #e74c3c; }

#home-page-tabs > li.active a,
#home-page-tabs > li a:hover {
  color: #e74c3c; }

.sale-label {
  background: #e74c3c; }

.btn.btn-default {
  background: #374140; }
  .btn.btn-default:hover, .btn.btn-default:active, .btn.btn-default:focus {
    background: #2d3635; }

.btn.ajax_add_to_cart_button span:before, .btn.ajax_add_to_cart_product_button span:before {
  background: #7ecefd; }

ul.product_list .product-image-container .quick-view:hover {
  color: #e74c3c; }

#layer_cart .layer_cart_product h2 {
  color: #e74c3c; }
#layer_cart .layer_cart_product .cross:hover {
  color: #e74c3c; }

.fancybox-skin .fancybox-close:hover {
  color: #e74c3c; }

/*---------------BOTTOM COLUMN-----------*/
#cmsinfo_block em {
  background: #7ecefd; }
#cmsinfo_block p a:before {
  color: #7ecefd; }
#cmsinfo_block p a:hover {
  color: #7ecefd; }

/*---------------FOOTER-----------*/
.footer-container {
  background: #374140; }
  .footer-container #footer {
    color: #6e7e7c; }
    .footer-container #footer a {
      color: #6e7e7c; }
    .footer-container #footer h4 {
      color: #7ecefd; }
      .footer-container #footer h4 a {
        color: #7ecefd; }
    .footer-container #footer #block_contact_infos > div ul li {
      color: #6e7e7c; }
      .footer-container #footer #block_contact_infos > div ul li.phoneBox {
        color: #7ecefd; }
      .footer-container #footer #block_contact_infos > div ul li.mailBox i {
        color: #7ecefd; }
      .footer-container #footer #block_contact_infos > div ul li.mailBox a {
        color: #6e7e7c; }
        .footer-container #footer #block_contact_infos > div ul li.mailBox a:hover {
          color: #fff; }
    .footer-container #footer #social_block ul li a {
      color: #6e7e7c; }
      .footer-container #footer #social_block ul li a:hover {
        color: #fff; }
    .footer-container #footer .bottom-footer {
      color: #6e7e7c; }
      .footer-container #footer .bottom-footer div {
        background: #2d3635; }
        .footer-container #footer .bottom-footer div a {
          color: #7ecefd; }

#footer #newsletter_block_left h4 {
  color: #7ecefd; }

/*---------------SUBPAGE-----------*/
.block .title_block,
.block h4 {
  background: #374140;
  border-color: #e74c3c; }
  .block .title_block a:hover,
  .block h4 a:hover {
    color: #e74c3c; }

h3.page-product-heading {
  background: #374140;
  border-color: #e74c3c; }

.price {
  color: #374140; }

.price.product-price {
  color: #374140; }

.special-price {
  color: #374140; }

#productscategory_list .product-name a:hover, .accessories-block .product-name a:hover {
  color: #e74c3c; }

table#product_comparison .remove a:hover {
  color: #e74c3c; }

#cart_summary tfoot td#total_price_container {
  color: #e74c3c; }

#subcategories ul li .subcategory-name:hover {
  color: #e74c3c; }

ul.product_list .availability span.available-now {
  background: #e74c3c; }

ul.product_list .functional-buttons div a:hover, ul.product_list .functional-buttons div label:hover {
  color: #e74c3c; }

.block .list-block li a:hover, #sitemap .sitemap_block li a:hover {
  color: #e74c3c; }

.price.product-price, .block .products-block .price {
  color: #e74c3c; }

.our_price_display {
  color: #e74c3c; }

.pb-center-column p.online_only {
  color: #7ecefd;
  background: #2d3635; }

#reduction_percent, #reduction_amount {
  background: #7ecefd;
  border-color: #2d3635; }

.label-success {
  background: #374140;
  border-color: #2b3332; }

#productscategory_list .product-name a:hover, .accessories-block .product-name a:hover {
  color: #e74c3c; }

#listpage_content div.tree_top a:hover:before {
  color: #e74c3c; }

ul.product_list.list > li .product-flags .discount {
  color: #e74c3c; }

#subcategories ul li .subcategory-name:hover {
  color: #e74c3c; }

.pagination > li > a, .pagination > li > span {
  background: #374140; }

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background: #e74c3c; }

.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
  background: #e74c3c; }

ul.step li.step_current, ul.step li.step_current span:after {
  background: #2d3635;
  border-color: #2d3635; }

a:hover, a:focus {
  color: #e74c3c; }

ul.product_list.grid > li .product-container .functional-buttons div a:hover, ul.product_list.grid > li .product-container .functional-buttons div label:hover {
  color: #e74c3c; }

#layered_block_left .layered_subtitle {
  color: #e74c3c; }
