#my-account ul.myaccount-link-list li a {
  color: #272727; }

.btn-success {
  background: #2e2e2e; }
  .btn-success:hover, .btn-success:active, .btn-success:active:focus, .btn-success:focus {
    background: #272727; }

.header-container {
  background-image: url(../../../../img/header-bg-3.png); }

header .user_info li a {
  background: #04bf9d; }
header ul#header_links li a:hover, header ul#header_links li a.active {
  color: #04bf9d; }
header .shop-phone i {
  color: #ff7f66; }
header #languages-block-top div.current, header #currencies-block-top div.current {
  color: #04bf9d; }
  header #languages-block-top div.current:hover, header #languages-block-top div.current.active, header #currencies-block-top div.current:hover, header #currencies-block-top div.current.active {
    color: #ff7f66; }
header #languages-block-top ul, header #currencies-block-top ul {
  background: #232323; }
  header #languages-block-top ul li, header #currencies-block-top ul li {
    border-color: #272727; }

#header .cartBox .shopping_cart > a:first-child {
  background: #ff7f66;
  color: #232323; }
  #header .cartBox .shopping_cart > a:first-child:before {
    color: #04bf9d; }
  #header .cartBox .shopping_cart > a:first-child:hover:before {
    background: #04bf9d;
    color: #fff; }

#header .cart_block {
  background: #141414; }
  #header .cart_block .cart-prices {
    background: #1a1a1a;
    border-color: #04bf9d; }
    #header .cart_block .cart-prices .cart-prices-line {
      border-color: #272727; }
  #header .cart_block .cart-buttons {
    background: #232323; }

header #search_block_top #searchbox {
  background: #272727; }
header #search_block_top .btn.button-search {
  color: #2e2e2e; }

header .sf-menu {
  background: #2e2e2e;
  border-color: #04bf9d; }
header .sf-menu > li {
  border-color: #272727; }
  @media (min-width: 768px) {
    header .sf-menu > li > a:before {
      color: #232323; } }
  header .sf-menu > li.sfHover > a,
  header .sf-menu > li > a:hover, header .sf-menu > li.sfHoverForce > a {
    background: #232323; }
header #search_li {
  background: #232323; }
header .sf-menu li li li a:hover {
  color: #04bf9d; }
header .sf-menu li li li.sfHoverForce a {
  color: #04bf9d; }
header .sf-menu > li > ul > li > a:hover {
  color: #04bf9d; }
header .sf-menu > li > ul > li.sfHoverForce > a {
  color: #04bf9d; }
header .sf-menu li ul {
  background: #232323; }
header .sf-menu > li > ul > li.category-thumbnail {
  background: #272727; }
@media (max-width: 767px) {
  header .cat-title {
    background: #2e2e2e; }
    header .cat-title:hover, header .cat-title.active {
      background: #272727; } }

#homepage-slider .homeslider-description button {
  background: #04bf9d; }
  #homepage-slider .homeslider-description button:hover {
    background: #ff7f66; }

.htmlcontent_top_box > div .banBox .item-html {
  background: #2e2e2e;
  color: #04bf9d; }
  .htmlcontent_top_box > div .banBox .item-html:after {
    background: #ff7f66; }
@media (min-width: 1200px) {
  .htmlcontent_top_box > div a:hover .item-html {
    background: #272727; }
    .htmlcontent_top_box > div a:hover .item-html h2 {
      color: #04bf9d; } }

#htmlcontent_top ul li .banBox:before {
  background: #ff7f66; }
#htmlcontent_top ul li .item-html {
  color: #04bf9d; }

#home-page-tabs > li.active a,
#home-page-tabs > li a:hover {
  color: #04bf9d; }

.sale-label {
  background: #04bf9d; }

.btn.btn-default {
  background: #2e2e2e; }
  .btn.btn-default:hover, .btn.btn-default:active, .btn.btn-default:focus {
    background: #272727; }

.btn.ajax_add_to_cart_button span:before, .btn.ajax_add_to_cart_product_button span:before {
  background: #ff7f66; }

ul.product_list .product-image-container .quick-view:hover {
  color: #04bf9d; }

#layer_cart .layer_cart_product h2 {
  color: #04bf9d; }
#layer_cart .layer_cart_product .cross:hover {
  color: #04bf9d; }

.fancybox-skin .fancybox-close:hover {
  color: #04bf9d; }

/*---------------BOTTOM COLUMN-----------*/
#cmsinfo_block em {
  background: #ff7f66; }
#cmsinfo_block p a:before {
  color: #ff7f66; }
#cmsinfo_block p a:hover {
  color: #ff7f66; }

/*---------------FOOTER-----------*/
.footer-container {
  background: #2e2e2e; }
  .footer-container #footer {
    color: #666666; }
    .footer-container #footer a {
      color: #666666; }
    .footer-container #footer h4 {
      color: #ff7f66; }
      .footer-container #footer h4 a {
        color: #ff7f66; }
    .footer-container #footer #block_contact_infos > div ul li {
      color: #666666; }
      .footer-container #footer #block_contact_infos > div ul li.phoneBox {
        color: #ff7f66; }
      .footer-container #footer #block_contact_infos > div ul li.mailBox i {
        color: #ff7f66; }
      .footer-container #footer #block_contact_infos > div ul li.mailBox a {
        color: #666666; }
        .footer-container #footer #block_contact_infos > div ul li.mailBox a:hover {
          color: #fff; }
    .footer-container #footer #social_block ul li a {
      color: #666666; }
      .footer-container #footer #social_block ul li a:hover {
        color: #fff; }
    .footer-container #footer .bottom-footer {
      color: #666666; }
      .footer-container #footer .bottom-footer div {
        background: #272727; }
        .footer-container #footer .bottom-footer div a {
          color: #ff7f66; }

#footer #newsletter_block_left h4 {
  color: #ff7f66; }

/*---------------SUBPAGE-----------*/
.block .title_block,
.block h4 {
  background: #2e2e2e;
  border-color: #04bf9d; }
  .block .title_block a:hover,
  .block h4 a:hover {
    color: #04bf9d; }

h3.page-product-heading {
  background: #2e2e2e;
  border-color: #04bf9d; }

.price {
  color: #2e2e2e; }

.price.product-price {
  color: #2e2e2e; }

.special-price {
  color: #2e2e2e; }

#productscategory_list .product-name a:hover, .accessories-block .product-name a:hover {
  color: #04bf9d; }

table#product_comparison .remove a:hover {
  color: #04bf9d; }

#cart_summary tfoot td#total_price_container {
  color: #04bf9d; }

#subcategories ul li .subcategory-name:hover {
  color: #04bf9d; }

ul.product_list .availability span.available-now {
  background: #04bf9d; }

ul.product_list .functional-buttons div a:hover, ul.product_list .functional-buttons div label:hover {
  color: #04bf9d; }

.block .list-block li a:hover, #sitemap .sitemap_block li a:hover {
  color: #04bf9d; }

.price.product-price, .block .products-block .price {
  color: #04bf9d; }

.our_price_display {
  color: #04bf9d; }

.pb-center-column p.online_only {
  color: #ff7f66;
  background: #272727; }

#reduction_percent, #reduction_amount {
  background: #ff7f66;
  border-color: #272727; }

.label-success {
  background: #2e2e2e;
  border-color: #212121; }

#productscategory_list .product-name a:hover, .accessories-block .product-name a:hover {
  color: #04bf9d; }

#listpage_content div.tree_top a:hover:before {
  color: #04bf9d; }

ul.product_list.list > li .product-flags .discount {
  color: #04bf9d; }

#subcategories ul li .subcategory-name:hover {
  color: #04bf9d; }

.pagination > li > a, .pagination > li > span {
  background: #2e2e2e; }

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background: #04bf9d; }

.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
  background: #04bf9d; }

ul.step li.step_current, ul.step li.step_current span:after {
  background: #272727;
  border-color: #272727; }

a:hover, a:focus {
  color: #04bf9d; }

ul.product_list.grid > li .product-container .functional-buttons div a:hover, ul.product_list.grid > li .product-container .functional-buttons div label:hover {
  color: #04bf9d; }

#layered_block_left .layered_subtitle {
  color: #04bf9d; }
