@import "../../_theme_variables";

#currencies-block-top {
	float: right;
	position: relative;
	padding: 13px 19px 20px;											
	span.firstWord {
		display: none;
	}
	div.current {
		padding: 0;
		cursor: pointer;
		color:#ff530d;
		text-transform:capitalize;
		font-weight:bold;
		strong {
			font-weight:normal;
		}
		&:hover, &.active {
			color:#e5e5e5;
		}
		&:after {
			content: "";
			font-family: $font-icon;
			padding-left: 9px;
			font-size:13px;
			line-height:15px;
			font-weight:300;
			color:#fff;
			vertical-align:-1px;
		}
		&.active {
			&:after {
				content: "";
			}
		}
		.cur-label {
			display: none;
		}
	}
	ul {
		display: none;
		position: absolute;
		top: 100%;
		right: 0;
		width: 140px;
		background: #393e3d;
		z-index: 2;
		li {
			color: #000;
			line-height: 28px;
			font-size: 12px;
			border-top:1px solid #333837;
			text-align:center;
			&:first-child {
				border:none;	
			}
			a,
			> span {
				padding: 0 10px 0 12px;
				display: block;
				color: #5b605f;
				font-size:12px;
				@include transition(all 0.25s ease);
			}
			a {
				@include transition(all 0.25s ease);	
			}
			&.selected, &.selected > span, &.selected a, &:hover a {
				color: #fff;
				@include transition(all 0.25s ease);
			}
		}
	}	
}