@charset "UTF-8";
/******************************************************************************
						Home Page Slider
*******************************************************************************/
#homepage-slider {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  position: relative;
  z-index: 1; }
  #homepage-slider #homeslider {
    margin: 0 auto;
    padding: 0; }
  #homepage-slider .descBox {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
  #homepage-slider .homeslider-description {
    padding: 150px 200px 0;
    cursor: pointer;
    text-align: center;
    color: #fff; }
    #homepage-slider .homeslider-description h2 {
      font: 300 60px/59px "Open Sans", sans-serif;
      margin: 20px 0 46px;
      font-style: italic;
      text-transform: uppercase;
      padding: 0;
      position: relative; }
    #homepage-slider .homeslider-description button {
      font: 600 15px/19px "Open Sans", sans-serif;
      padding: 19px 31px 21px;
      border: none;
      background: #ff530d;
      color: #fff;
      text-transform: uppercase;
      position: relative;
      transition: all 0.2s ease; }
      #homepage-slider .homeslider-description button:hover {
        background: #ffd400; }
    @media (min-width: 1200px) and (max-width: 1700px) {
      #homepage-slider .homeslider-description {
        padding: 100px 150px 0; }
        #homepage-slider .homeslider-description h2 {
          font: 300 50px/50px "Open Sans", sans-serif;
          margin: 0 0 30px;
          font-style: italic; }
        #homepage-slider .homeslider-description button {
          padding: 13px 21px 14px; } }
    @media (min-width: 1200px) and (max-width: 1400px) {
      #homepage-slider .homeslider-description {
        padding: 70px 50px 0; }
        #homepage-slider .homeslider-description h2 {
          font: 300 45px/45px "Open Sans", sans-serif;
          margin: 0 0 30px;
          font-style: italic; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      #homepage-slider .homeslider-description {
        padding: 70px 150px 0; }
        #homepage-slider .homeslider-description h2 {
          font: 300 40px/40px "Open Sans", sans-serif;
          margin: 0 0 30px;
          font-style: italic; }
        #homepage-slider .homeslider-description button {
          padding: 10px 21px 11px; } }
    @media (min-width: 992px) and (max-width: 1070px) {
      #homepage-slider .homeslider-description {
        padding: 70px 50px 0; } }
    @media (min-width: 768px) and (max-width: 991px) {
      #homepage-slider .homeslider-description {
        padding: 40px 70px 0; }
        #homepage-slider .homeslider-description h2 {
          font: 300 40px/40px "Open Sans", sans-serif;
          margin: 0 0 20px;
          font-style: italic; }
        #homepage-slider .homeslider-description button {
          padding: 10px 21px 11px; } }
    @media (min-width: 768px) and (max-width: 850px) {
      #homepage-slider .homeslider-description {
        padding: 40px 40px 0; }
        #homepage-slider .homeslider-description h2 {
          font: 300 30px/30px "Open Sans", sans-serif;
          margin: 0 0 15px;
          font-style: italic; }
        #homepage-slider .homeslider-description button {
          padding: 10px 21px 11px; } }
    @media (max-width: 767px) {
      #homepage-slider .homeslider-description {
        padding: 70px 80px 0; }
        #homepage-slider .homeslider-description h2 {
          font: 300 40px/40px "Open Sans", sans-serif;
          margin: 0 0 30px;
          font-style: italic; }
        #homepage-slider .homeslider-description button {
          padding: 10px 21px 11px; } }
    @media (max-width: 667px) {
      #homepage-slider .homeslider-description {
        padding: 40px 30px 0; }
        #homepage-slider .homeslider-description h2 {
          font: 300 30px/30px "Open Sans", sans-serif;
          margin: 0 0 20px;
          font-style: italic; }
        #homepage-slider .homeslider-description button {
          padding: 8px 15px 9px; } }
    @media (max-width: 479px) {
      #homepage-slider .homeslider-description {
        padding: 30px 20px 0; }
        #homepage-slider .homeslider-description h2 {
          font: 300 25px/25px "Open Sans", sans-serif;
          margin: 0;
          font-style: italic; }
        #homepage-slider .homeslider-description button {
          display: none; } }

/*****************************************************************************
						BXSlider Styles
********************************************************************************/
#homepage-slider .homeslider-container {
  position: relative; }
#homepage-slider .homeslider-image {
  position: absolute;
  left: 0;
  top: 0; }
#homepage-slider .bx-wrapper {
  position: relative;
  padding: 0;
  *zoom: 1; }
  #homepage-slider .bx-wrapper a {
    display: block; }
  #homepage-slider .bx-wrapper img {
    display: block;
    max-width: 100%;
    height: auto; }
#homepage-slider .bx-wrapper .bx-viewport {
  width: 100%; }
#homepage-slider .bx-wrapper .bx-pager,
#homepage-slider .bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: 30px;
  width: 100%;
  z-index: 999; }
#homepage-slider .bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(images/bx_loader.gif) center center no-repeat white;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }
#homepage-slider .bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #666;
  padding-top: 20px; }
#homepage-slider .bx-wrapper .bx-pager .bx-pager-item,
#homepage-slider .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline; }
#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a {
  background: none;
  border: 3px solid #fff;
  text-indent: -9999px;
  display: block;
  width: 15px;
  height: 15px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px; }
#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a:hover,
#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #fff; }
#homepage-slider .bx-wrapper .bx-prev {
  right: 60px; }
  #homepage-slider .bx-wrapper .bx-prev:after {
    content: "\f053"; }
#homepage-slider .bx-wrapper .bx-next {
  right: 10px; }
  #homepage-slider .bx-wrapper .bx-next:after {
    content: "\f054"; }
#homepage-slider .bx-wrapper .bx-controls-direction a {
  position: absolute;
  bottom: 10px;
  outline: 0;
  width: 52px;
  height: 52px;
  text-indent: -9999px;
  z-index: 9999;
  border: 2px solid white; }
  #homepage-slider .bx-wrapper .bx-controls-direction a:before {
    height: 48px;
    width: 48px;
    display: block;
    background: white;
    content: ".";
    opacity: 0.14;
    text-indent: -9999px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1; }
  #homepage-slider .bx-wrapper .bx-controls-direction a:after {
    display: block;
    width: 48px;
    height: 48px;
    color: white;
    text-indent: 0;
    text-align: center;
    font-size: 21px;
    font-family: "FontAwesome";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 16px 0 0 0; }
  #homepage-slider .bx-wrapper .bx-controls-direction a:hover:before {
    background: #5b605f;
    opacity: 0.83; }
#homepage-slider .bx-wrapper .bx-controls-direction a.disabled {
  display: none; }
#homepage-slider .bx-wrapper .bx-controls-auto {
  text-align: center; }
#homepage-slider .bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  width: 10px;
  height: 11px;
  outline: 0;
  margin: 0 3px; }
  #homepage-slider .bx-wrapper .bx-controls-auto .bx-start:before {
    content: '';
    font-family: "FontAwesome";
    color: #fff; }
#homepage-slider .bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  width: 9px;
  height: 11px;
  outline: 0;
  margin: 0 3px; }
  #homepage-slider .bx-wrapper .bx-controls-auto .bx-stop:before {
    content: '';
    font-family: "FontAwesome";
    color: #fff; }
#homepage-slider .bx-wrapper .bx-controls .bx-controls-auto {
  right: 15px;
  width: 35px;
  top: 15px; }
#homepage-slider .bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666666 \9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%; }
#homepage-slider .bx-wrapper .bx-caption span {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  font-size: .85em;
  padding: 10px; }

.ie8 #homepage-slider .bx-wrapper .bx-controls-direction a:before {
  background: #5b605f; }

#bx-pager-thumb {
  text-align: center;
  padding: 10px 0; }
  #bx-pager-thumb a {
    display: inline-block;
    max-width: 150px;
    width: 31%; }
    #bx-pager-thumb a img {
      max-width: 100%;
      height: auto; }
