@import "../../_theme_variables";

.shop-phone {
	position:absolute;
	top:101px;
	right:340px;
	color:#f6f6f6;
	font: normal 13px / 18px $font-custom;
	text-transform:uppercase;
	z-index:1;
	@media (max-width: $screen-xs-max) {
		display: none;
	}
	span {
		display:inline-block;	
	}
	i {
		font-size: 40px;
		line-height: 40px;
		color: #ffd400;
		padding-right: 11px;
		display:inline-block;
		vertical-align:-1px;
	}
	strong {
		font-weight:normal;
		font-size:30px;
		font-style:italic;
		display:block;
		padding-top:3px;
	}
	@media (max-width: $screen-sm-max) { // max 991px
		display:none;
	}
}

#contact-link {
	display:none;
	float: right;
	border-left: 1px solid #515151;
	@media (max-width: $screen-xs - 1) {
		width: 25%;
		text-align: center;
	}													
	a {
		display: block;
		color: $light-text-color;
		font-weight: bold;
		padding: 8px 10px 11px 10px;
		text-shadow: 1px 1px rgba(0,0,0,0.2);
		cursor: pointer;
		@media (max-width: $screen-xs - 1) {
			font-size: 11px;
			padding-left: 5px;
			padding-right: 5px;
		}
		&:hover, &.active {
			background: #2b2b2b;
		}
	}
}

#contact_block {
	@media (max-width: $screen-xs-max) { // max 767px
		margin-bottom: 20px;
	}
	.label {
		display: none
	}
	.block_content {
		color: #888888;
	}
	p {
		margin-bottom: 4px;
	}
	p.tel {
		font: 400 17px/21px $font-family;
		color: $base-text-color;
		margin-bottom: 6px;
		i {
			font-size: 25px;
			vertical-align: -2px; 
			padding-right: 10px;
		}
	}
}
