@import "../../_theme_variables";

.header_user_info {
	float: right;
	border-left: 1px solid #515151;
	border-right: 1px solid #515151;
	a {
		color: $light-text-color;
		font-weight: bold;
		display: block;
		padding: 8px 9px 11px 8px;
		cursor: pointer;
		@media (max-width: $screen-xs - 1) {
			font-size: 11px;
		}
		&:hover, &.active {
			background: #2b2b2b;
		}
	}
	&+ .header_user_info {
		border-right:none;	
	}
}

.user_info {
	float:right;
	margin:0;
	clear:right;
	padding:50px 15px 10px 0;
	li {
		display:block;
		float:left;
		padding:0 0 0 9px;
		&.account_li {
			display:none;	
		}
		a {
			display:block;
			height:56px;
			width:56px;
			background:#ff530d;
			color:#fff;
			text-align:center;
			@include transform(translateZ(0px));
			@include transform(scale(1));
			&:before {
				content: "";
				font-family:$font-icon;
				font-size:30px;
				line-height:56px;
			}
			&.logout {
				&:before {
					content: "";
				}
			}
			&.account {
				background:#ffd400;
				&:hover {
					background:#c1a102;
				}
				&:before {
					content: "";
				}
			}
			span {
				display:none;	
			}
			&:hover {
				@media (min-width: $screen-lg) { // min 1200px
					@include animation-duration(0.3s);
					@include animation-iteration-count(1);
					@include animation-name(usInfo);
					@include animation-timing-function(linear);
				}
			}
		}
	}
	@media (max-width: $screen-xs - 1) { // max 479px
		position:absolute;
		left:0;
		top:-44px;
		padding:0 15px;
		li {
			padding:0;
			a {
				height:34px;
				width:34px;
				&:before {
					font-size:20px;
					line-height:34px;
				}
			}
		}
	}
}
@-webkit-keyframes usInfo {
	50% {
		@include transform(scale(1.15));
	}
}
@keyframes usInfo {
	50% {
		@include transform(scale(1.15));
	}
}