@charset "UTF-8";
#currencies-block-top {
  float: right;
  position: relative;
  padding: 13px 19px 20px; }
  #currencies-block-top span.firstWord {
    display: none; }
  #currencies-block-top div.current {
    padding: 0;
    cursor: pointer;
    color: #ff530d;
    text-transform: capitalize;
    font-weight: bold; }
    #currencies-block-top div.current strong {
      font-weight: normal; }
    #currencies-block-top div.current:hover, #currencies-block-top div.current.active {
      color: #e5e5e5; }
    #currencies-block-top div.current:after {
      content: "";
      font-family: "FontAwesome";
      padding-left: 9px;
      font-size: 13px;
      line-height: 15px;
      font-weight: 300;
      color: #fff;
      vertical-align: -1px; }
    #currencies-block-top div.current.active:after {
      content: ""; }
    #currencies-block-top div.current .cur-label {
      display: none; }
  #currencies-block-top ul {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 140px;
    background: #393e3d;
    z-index: 2; }
    #currencies-block-top ul li {
      color: #000;
      line-height: 28px;
      font-size: 12px;
      border-top: 1px solid #333837;
      text-align: center; }
      #currencies-block-top ul li:first-child {
        border: none; }
      #currencies-block-top ul li a,
      #currencies-block-top ul li > span {
        padding: 0 10px 0 12px;
        display: block;
        color: #5b605f;
        font-size: 12px;
        -moz-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        -webkit-transition: all 0.25s ease;
        transition: all 0.25s ease; }
      #currencies-block-top ul li a {
        -moz-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        -webkit-transition: all 0.25s ease;
        transition: all 0.25s ease; }
      #currencies-block-top ul li.selected, #currencies-block-top ul li.selected > span, #currencies-block-top ul li.selected a, #currencies-block-top ul li:hover a {
        color: #fff;
        -moz-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        -webkit-transition: all 0.25s ease;
        transition: all 0.25s ease; }
