@charset "UTF-8";
/* Block newsletter */
#columns #newsletter_block_left .form-group {
  margin-bottom: 0; }
  #columns #newsletter_block_left .form-group .form-control {
    max-width: 222px;
    display: inline-block;
    margin-right: 6px; }
    @media (min-width: 768px) and (max-width: 1199px) {
      #columns #newsletter_block_left .form-group .form-control {
        margin-bottom: 10px;
        margin-right: 0; } }
#columns #newsletter_block_left .success_inline, #columns #newsletter_block_left .warning_inline {
  text-align: left;
  padding: 1px 0 0 0;
  margin-bottom: -19px; }
#columns #newsletter_block_left .success_inline {
  color: #418B19; }
#columns #newsletter_block_left .warning_inline {
  color: #f13340; }

/* Block newsletter footer */
#footer #newsletter_block_left {
  overflow: hidden;
  width: 33.3333%;
  float: left;
  padding: 0px 15px 0px 15px;
  margin-bottom: 0;
  margin-top: 56px; }
  @media (min-width: 768px) and (max-width: 1199px) {
    #footer #newsletter_block_left {
      width: 25%; } }
  @media (max-width: 767px) {
    #footer #newsletter_block_left {
      width: 100%;
      float: none;
      margin: 0;
      padding-top: 30px; } }
  #footer #newsletter_block_left h4 {
    background: none;
    font: 600 14px/20px "Open Sans", sans-serif;
    color: #ffd400;
    text-transform: uppercase;
    margin: 0 0 24px 0;
    padding: 0;
    border: none; }
    #footer #newsletter_block_left h4:after {
      display: none; }
  #footer #newsletter_block_left .block_content {
    overflow: hidden; }
  #footer #newsletter_block_left .form-group {
    margin-bottom: 0; }
    #footer #newsletter_block_left .form-group .form-control {
      height: 52px;
      line-height: 30px;
      max-width: 308px;
      background: #fff;
      border-color: #efefef;
      color: #959393;
      padding: 5px 43px 5px 12px;
      display: inline-block;
      float: none; }
      #footer #newsletter_block_left .form-group .form-control:focus {
        -moz-box-shadow: black 0 0 0;
        -webkit-box-shadow: black 0 0 0;
        box-shadow: black 0 0 0; }
    #footer #newsletter_block_left .form-group .button-small {
      margin-left: -50px;
      border: none;
      background: none;
      text-align: center;
      color: #959393;
      padding: 15px 14px 14px; }
      #footer #newsletter_block_left .form-group .button-small:before {
        content: "";
        font-family: "FontAwesome";
        font-size: 20px;
        line-height: 20px; }
      #footer #newsletter_block_left .form-group .button-small:hover {
        color: #31353d !important; }
      #footer #newsletter_block_left .form-group .button-small span {
        display: none; }
  #footer #newsletter_block_left .warning_inline {
    display: block;
    color: #f13340;
    font-size: 13px;
    line-height: 26px;
    clear: both; }
    @media (min-width: 1200px) {
      #footer #newsletter_block_left .warning_inline {
        display: inline-block;
        position: relative;
        top: -35px;
        margin-bottom: -35px;
        left: 15px;
        clear: none; } }
  #footer #newsletter_block_left .newsletter-input {
    max-width: 308px !important; }
