@import "../../../_theme_variables";

/* Top hook CSS */
.htmlcontent_top_box {
	margin-top:-248px;
	position:relative;
	z-index:1;
	margin-bottom:32px;
	> div {
		.banBox {
			img {
				max-width: 100%;
				height: auto;
				@include transition(all 0.2s ease);
				@include transform(scale(1, 1));
			}
			.imgBox {
				overflow:hidden;	
			}
			.item-html {
				background:#5b605f;
				display:block;
				padding:23px 100px 28px 33px;
				color:#ff530d;
				font: normal 15px / 17px $font-custom;
				text-transform:uppercase;
				position:relative;
				overflow:hidden;
				h2 {
					font: normal 30px / 1em $font-custom;
					color:#fff;
					text-transform:uppercase;
					font-style:italic;
					margin:0;
				}
				&:after {
					font-family:$font-icon;
					content: "";
					color:#fff;
					background:#ffd400;
					position:absolute;
					right:0;
					top:0;
					height:100%;
					width:98px;
					font-size:51px;
					font-weight:normal;
					text-align:center;
					display:block;
					line-height:1em;
					padding-top:21px;	
				}
			}
		}
		@media (min-width: $screen-lg) { // min 1200px
			a:hover {
				.item-html {
					background:#484e4d;
					color:#fff;
					transition: all 0.2s ease;
					h2 {
						color:#ff530d;
						transition: all 0.2s ease;
						animation: 400ms ease-in-out 0s normal none 1 moveFromLeft;	
						-webkit-animation: 400ms ease-in-out 0s normal none 1 moveFromLeft;	
					}
					&:after {
						animation: 300ms ease-in-out 0s normal none 1 moveFromRight;
						-webkit-animation: 300ms ease-in-out 0s normal none 1 moveFromRight;	
					}
				}
				img {
					@include transform(scale(1.2, 1.2));
				}
			}
		}
	}
	@media (min-width: $screen-md) and (max-width: $screen-md-max) { // min 992px max 1199px
		margin-top:-197px;
	}
	@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
		margin-top:-147px;
		> div {
			.banBox {
				.item-html {
					padding:12px 50px 13px 18px;
					&:after {
						width:48px;
						font-size:28px;
						padding-top:23px;	
					}
				}	
			}
		}
	}
	@media (max-width: $screen-xs-max) { // max 767px
		margin:0 -15px;
		> div {
			width:33.3333%;
			float:left;
			padding:0;
			.banBox {
				.item-html {
					padding:6px 5px 13px;
					text-align:center;
					font: normal 11px / 16px $font-custom;
					h2 {
						font: normal 14px / 1em $font-custom;
						font-style:italic;
					}
					&:after {
						display:none;
					}
				}	
			}
		}
	}
}
#htmlcontent_top {
	ul {
		margin-bottom:45px;
		li {
			a {
				overflow:hidden;	
			}
			img {
				max-width: 100%;
				height: auto;
				@include transition(all 0.2s ease);
				@include transform(scale(1, 1));
			}
			.banBox {
				position:relative;
				overflow:hidden;
				&:after {
					font-family:$font-icon;
					content: "";
					color:#fff;
					position:absolute;
					right:13px;
					bottom:13px;
					font-size:25px;
					font-weight:normal;
					display:block;
					line-height:1em;
					z-index:2;
					@include transition(all 0.2s ease);
				}
				&:before {
					content: " ";
					position:absolute;
					right:-44px;
					bottom:-96px;
					height:200px;
					width:100px;
					background:#ffd400;
					display:block;
					z-index:1;
					@include rotate(45deg);
					@include transition(all 0.2s ease);
				}
			}
			.item-html {
				display:block;
				padding:23px 70px 0 0;
				color:#ff530d;
				font: normal 30px / 32px $font-custom;
				text-transform:uppercase;
				position:absolute;
				right:0;
				top:0;
				z-index:3;
				h2 {
					font: normal 80px / 1em $font-custom;
					color:#fff;
					text-transform:uppercase;
					font-style:italic;
					margin:40px 0 -7px;
				}
			}
			@media (min-width: $screen-lg) { // min 1200px
				a:hover {
					.item-html {
						animation: 400ms ease-in-out 0s normal none 1 moveFromRight;
						-webkit-animation: 400ms ease-in-out 0s normal none 1 moveFromRight;	
					}
					img {
						@include transform(scale(1.2, 1.2));
					}
					.banBox {
						&:after {
							right:-60px;
							bottom:-50px;
						}
						&:before {
							right:-110px;
							bottom:-150px;
						}
					}
				}
			}
		}
	}
	@media (min-width: $screen-md) and (max-width: $screen-md-max) { // min 992px max 1199px
		ul {
			li {
				.item-html {
					padding: 5px 30px 0 0;
					h2 {
						font-size:70px;
    					margin: 20px 0 -7px;	
					}
				}
			}
		}
	}
	@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
		ul {
			li {
				.item-html {
					padding: 0 20px 0 0;
					font-size:20px;
					line-height:22px;
					h2 {
						font-size:50px;
    					margin: 15px 0 -3px;	
					}
				}
			}
		}
	}
	@media (max-width: $screen-xs-max) { // max 767px
		ul {
			margin:0 -15px;
			> li {
				width:50%;
				float:left;
				padding:0;
			}
		}
	}
	@media (min-width: $screen-xs - 80) and (max-width: $screen-xs-max) { // min 480px max 767px
		ul {
			> li {
				.item-html {
					display:none;	
				}
			}
		}
	}
	@media (max-width: $screen-xs - 81) { // max 399px
		ul {
			margin:0 -15px;
			> li {
				width:100%;
				float:none;
				padding:0;
				.item-html {
					padding: 0 20px 0 0;
					font-size:20px;
					line-height:22px;
					h2 {
						font-size:50px;
    					margin: 15px 0 -3px;	
					}
				}
			}
		}
	}
}
#htmlcontent_logo {
	ul {
		margin:0;
		background:#f6f6f6;
		li {
			width:20%;
			float:left;
			border-left:1px solid #eaeaea;
			&:first-child {
				border-color:#f6f6f6;	
			}
			img {
				max-width: 100%;
				height: auto;
				@include transform(scale(1, 1));
			}
			.banBox {
				position:relative;
				overflow:hidden;	
			}
			@media (min-width: $screen-lg) { // min 1200px
				a:hover {
					img {
						@include transform(scale(1.3, 1.3));
					}
				}
			}
			@media (min-width: $screen-sm) and (max-width: $screen-md-max) { // min 768px max 1199px
				border:none;
			}
		}
		@media (max-width: $screen-xs-max) { // max 767px
			margin:0 -15px;
			li {
				border:none;	
			}
		}
		@media (max-width: $screen-xs - 1) { // max 479px
			text-align:center;
			li {
				border:none;
				float:none;
				width:30%;
				display:inline-block;	
			}
		}
	}
}

/* Left hook CSS */
#htmlcontent_left {
}

/* Right hook CSS */
#htmlcontent_right {
}

/* Footer hook CSS */
#htmlcontent_footer {
}
@-webkit-keyframes moveFromRight {
0% {
    opacity: 0;
    -webkit-transform: translateX(200%);
}
100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
}
}
@-webkit-keyframes moveFromLeft {
0% {
    opacity: 0;
    -webkit-transform: translateX(-200%);
}
100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
}
}
@-webkit-keyframes moveFromBottom {
0% {
    opacity: 0;
    -webkit-transform: translateY(200%);
}
50% {
    opacity: 0.5;
    -webkit-transform: translateY(100%);
}
100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
}
}
@-webkit-keyframes moveFromtop {
0% {
    opacity: 0;
    transform: translateY(-200%);
}
50% {
    opacity: 0.5;
    transform: translateY(-100%);
}
100% {
    opacity: 1;
    transform: translateY(0%);
}
}
@keyframes moveFromRight {
0% {
    opacity: 0;
    transform: translateX(200%);
}
100% {
    opacity: 1;
    transform: translateX(0%);
}
}
@keyframes moveFromLeft {
0% {
    opacity: 0;
    transform: translateX(-200%);
}
100% {
    opacity: 1;
    transform: translateX(0%);
}
}
@keyframes moveFromBottom {
0% {
    opacity: 0;
    transform: translateY(200%);
}
50% {
    opacity: 0.5;
    transform: translateY(100%);
}
100% {
    opacity: 1;
    transform: translateY(0%);
}
}
@keyframes moveFromtop {
0% {
    opacity: 0;
    transform: translateY(-200%);
}
50% {
    opacity: 0.5;
    transform: translateY(-100%);
}
100% {
    opacity: 1;
    transform: translateY(0%);
}
}