@import 'compass';
@import 'bootstrap_lib/_variables';

$color_first:						#99bf38;
$color_second:						#2185c5;
$color_third:						#37465d;
$color_fourth:						#263040;
$color_fifth:						#2f3c50;


#my-account ul.myaccount-link-list li a {
	color: $color_fourth;
}

.btn-success {
	background: $color_third;
	&:hover,
	&:active,
	&:active:focus,
	&:focus {
		background: $color_fourth;
	}
}

.header-container {
	background-image:url(../../../../img/header-bg-2.png);	
}

header {
	.user_info {
		li {
			a {
				background: $color_first;
			}
		}
	}
	ul#header_links li a {
		&:hover, &.active {
			color:$color_first;
		}	
	}
	.shop-phone i {
		color:$color_second;
	}
	#languages-block-top, #currencies-block-top {
		div.current {
			color:$color_first;
			&:hover, &.active {
				color:$color_second;
			}
		}
		ul {
			background: $color_fifth;
			li {
				border-color: $color_fourth;
			}
			li.selected, li.selected span, li:hover a, li.selected a {}
		}
	}
}
#header .cartBox .shopping_cart { 
	> a:first-child {
		background:$color_second;	
		color:$color_fifth;
		&:before {
			color:$color_first;	
		}
		&:hover {
			&:before {
				background:$color_first;
				color:#fff;	
			}	
		}
	}
}
#header .cart_block {
	background: darken($color_third, 10%);
	.cart-prices {
		background: darken($color_fourth, 5%);
		border-color:$color_first;
		.cart-prices-line {
			border-color:$color_fourth;	
		}
	}
	.cart-buttons {
		background:$color_fifth;
	}
}
header {
	#search_block_top {
		#searchbox {
			background:$color_fourth;
		}
		.btn.button-search {
			color:$color_third;
		}
	}	
}
header {
	.sf-menu {
		background: $color_third;
		border-color:$color_first;
	}
	.sf-menu > li {
		border-color:$color_fourth;
		> a {
			@media (min-width: $screen-sm) { // min 768px
				&:before {
					color:$color_fifth;
				}
			}
		}
		&.sfHover > a,
		> a:hover,
		&.sfHoverForce > a {
			background: $color_fifth;
		}
	}
	#search_li {
		background: $color_fifth;
	}
	.sf-menu li li li a {
		&:hover {
			color:$color_first;
		}
	}
	.sf-menu li li li.sfHoverForce a {
		color:$color_first;
	}
	.sf-menu > li > ul {
		> li {
			> a {
				&:hover {
					color:$color_first;
				}
			}
		}
	}
	.sf-menu > li > ul {
		> li.sfHoverForce {
			> a {
				color:$color_first;
			}
		}
	}
	.sf-menu li ul {
		background: $color_fifth;
	}
	.sf-menu > li > ul > li.category-thumbnail {
		background: $color_fourth;
	}
	.cat-title {
		@media (max-width: $screen-xs-max) { // max 767px
			background: $color_third;
			&:hover, &.active {
				background: $color_fourth;
			}
		}
	}
}

#homepage-slider .homeslider-description button {
	background: $color_first;
	&:hover {
		background: $color_second;	
	}
}
.htmlcontent_top_box {
	> div {
		.banBox {
			.item-html {
				background: $color_third;
				color:$color_first;
				&:after {
					background: $color_second;	
				}
			}
		}
		@media (min-width: $screen-lg) { // min 1200px
			a:hover {
				.item-html {
					background: $color_fourth;
					h2 {
						color:$color_first;
					}
				}
			}
		}
	}
}
#htmlcontent_top {
	ul {
		li {
			.banBox {
				&:before {
					background: $color_second;	
				}
			}
			.item-html {
				color:$color_first;
			}
		}
	}
}
#home-page-tabs {
	> li.active a,
	> li a:hover {
		color:$color_first;
	}
}
.sale-label {
	background:$color_first;
}
.btn.btn-default {
	background:$color_third;
	&:hover,
	&:active,
	&:focus {
		background:$color_fourth;
	}
}
.btn.ajax_add_to_cart_button, .btn.ajax_add_to_cart_product_button {
	span {
		&:before {
			background:$color_second;
		}
	}
}
ul.product_list .product-image-container .quick-view:hover {
	color:$color_first;	
}
#layer_cart {
	.layer_cart_product {
		h2 {
			color:$color_first;
		}
		.cross {
			&:hover {
				color:$color_first;	
			}
		}
	}
}
.fancybox-skin {
	.fancybox-close {
		&:hover {
			color:$color_first;
		}
	}	
}

/*---------------BOTTOM COLUMN-----------*/

#cmsinfo_block {
	em {
		background:$color_second;
	}
	p a {
		&:before {
			color:$color_second;
		}
		&:hover {
			color:$color_second;	
		}
	}
}

/*---------------FOOTER-----------*/

.footer-container {
	background:$color_third;
	#footer {
		color: #5c759c;
		a {
			color: #5c759c;
		}
		h4 {
			color:$color_second;
			a {
				color:$color_second;
			}
		}
		#block_contact_infos {
			> div {
				ul {
					li {
						color:#5c759c;
						&.phoneBox {
							color:$color_second;
						}
						&.mailBox {
							i {
								color:$color_second;
							}
							a {
								color:#5c759c;
								&:hover {
									color:#fff;
								}
							}
						}
					}
				}
			}
		}
		#social_block {
			ul {
				li {
					a {
						color: #5c759c;
						&:hover {
							color: #fff;
						}
					}
				}
			}
		}
		.bottom-footer {
			color:#5c759c;
			div {
				background:$color_fourth;
				a {
					color:$color_second;
				}
			}
		}
	}
}
#footer #newsletter_block_left h4 {
	color:$color_second;	
}

/*---------------SUBPAGE-----------*/

.block {
	.title_block,
	h4 {
		background:$color_third;
		border-color:$color_first;
		a:hover {
			color:$color_first;	
		}
	}
}
h3.page-product-heading {
	background:$color_third;
	border-color:$color_first;
}
.price {
	color:$color_third;
}
.price.product-price {
	color:$color_third;	
}
.special-price {
	color:$color_third;	
}
#productscategory_list .product-name a, .accessories-block .product-name a {
	&:hover {
		color:$color_first;
	}
}
table#product_comparison .remove a {
	&:hover {
		color:$color_first;
	}
}
#cart_summary tfoot td#total_price_container {
	color:$color_first;
}
#subcategories {
	ul {
		li {
			.subcategory-name {
				&:hover {
					color:$color_first;
				}
			}
		}
	}
}
ul.product_list {
	.availability {
		span.available-now {
			background:$color_first;
		}
	}
}
ul.product_list .functional-buttons div a, ul.product_list .functional-buttons div label {
	&:hover {
		color:$color_first;	
	}
}
.block .list-block li a, #sitemap .sitemap_block li a {
	&:hover {
		color:$color_first;
	}
}
.price.product-price, .block .products-block .price {
	color:$color_first;	
}
.our_price_display {
	color:$color_first;	
}
.pb-center-column p.online_only {
	color:$color_second;
	background:$color_fourth;	
}
#reduction_percent, #reduction_amount {
	background:$color_second;
	border-color:$color_fourth;
}
.label-success {
  	background:$color_third;
	border-color: darken($color_third, 5);
}
#productscategory_list .product-name a, .accessories-block .product-name a {
	&:hover {
		color:$color_first;
	}
}
#listpage_content div.tree_top a:hover:before {
	color:$color_first;	
}
ul.product_list.list > li .product-flags .discount {
	color:$color_first;		
}
#subcategories ul li .subcategory-name {
	&:hover {
		color: $color_first;
	}
}
.pagination > li > a, .pagination > li > span {
	background:$color_third;	
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
	background:$color_first;
}
.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
	background:$color_first;
}
ul.step li.step_current, ul.step li.step_current span:after {
  	background:$color_fourth;
	border-color:$color_fourth;
}
a:hover, a:focus {
	color: $color_first;
}
ul.product_list.grid > li .product-container .functional-buttons div a:hover, ul.product_list.grid > li .product-container .functional-buttons div label:hover {
	color: $color_first;
}
#layered_block_left .layered_subtitle {
	color:$color_first;	
}